<p id="notice"><%= notice %></p>

<p>
  <strong>Conteudo:</strong>
  <%= @message.conteudo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @message.usuario %>
</p>

<p>
  <strong>Chatroom:</strong>
  <%= @message.ChatRoom %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
