<h1>New Chat Room</h1>


<%= form_for @chat_room do |f| %>
  <div class="form-group">
    <%= f.label :titulo %>
    <%= f.text_field :titulo, autofocus: true, class: 'form-control' %>
  </div>

  <%= f.submit "Add!", class: 'btn btn-primary' %>
<% end %>


<%#render 'form', chat_room: @chat_room %>

<%= link_to 'Back', chat_rooms_path %>
