<%= javascript_include_tag 'cable' %>
<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Titulo:</strong>
  <%= @chat_room.titulo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @chat_room.usuario %>
</p> -->

<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <% if !@messages.empty? %>
    <% for message in @messages %>
      <% if message.usuario_id == current_usuario.id %>
        <p style="text-align: right;"><%= message.conteudo %></p>
      <% else %>
      <p style="text-align: left;"><%= message.conteudo %></p>
      <% end %>
    <% end %>
  <% else %>
    <h3>Inicie a conversa!</h3>
  <% end %>
</div>



<%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.label :conteudo %>
    <%= f.text_area :conteudo, class: 'form-control' %>
    <small class="text-muted">1000 caracteres</small>
  </div>

  <%= f.submit "Enviar", class: 'btn btn-primary btn-lg' %>
<% end %>

<%= link_to 'Edit', edit_chat_room_path(@chat_room) %> |
<%= link_to 'Back', chat_rooms_path %>