<%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track' => true %>
<center>
  <h2>Edições avançadas</h2>
</center>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>



  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div class="col-md-12">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="form">
            <div class="form-group">
                <label>Nova senha:</label><br />
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> caracteres no mínimo</em>
                <% end %>
            </div>

            <div class="form-group">
                <label>Confirme nova senha:</label><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group">
               <label>Senha atual:</label> <i>(Precisamos da sua atual senha para continuar)</i><br />
               <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>   
            </div>
        </div>
        <div class="form-group">
            <%= f.submit "Salvar", :class => " form-control btn-primary btn-lg btn-color"%>
        </div>
    </div>
    <div class="col-md-3">
    </div>
      
</div>


<% end %>
<hr style="width: 100%;">
<center>
  <h3>Cancelar conta</h3>

  <p>Isto acarretará a exclusão de todos os anúncios e dados gerados por você <%= button_to "Cancelar Conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %></p>
</center>
