<style type="text/css">
  .navbar-header{
      background-image: url(/assets/LOGO_AZUL_OFICIAL.png);
      width: 200px;
      background-size: 156px;
      background-repeat: no-repeat;
      background-position: 0px 6px;
    }
</style>
<nav class="navbar navbar-default navbar-menu" id="navegacao" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed btn-color"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color: #777"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/" class="menu-text" style="color: #777">Início </a></li>
          <% if @logged_in %>
            <li><%= link_to 'Meus Pontos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
            <li><%= link_to 'Anunciar' , new_anuncio_path, :class => "menu-text", :style => "color: #777"%></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <img src="/assets/engine3.png" style=" width: 19px; float: right; margin-top: 15px; margin-right: 20px;">
          <li class="dropdown menu-dropdown">
            <a href="#" class="dropdown-toggle menu-text"
              data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false" style="color: #777; font-size: 16px">
                  <% if ! @logged_in %>
                    Entrar
                  <% else %>
                    <%=current_usuario.nome%>
                  <% end %>
                </span></a>
            <ul class="dropdown-menu">


              <% if ! @logged_in %>
                <li><%= link_to "Entrar", usuario_session_path %></li>
                <li><%= link_to "Cadastrar", new_usuario_registration_path%></li>

              <% else %>
                <li><%= link_to 'Perfil', usuario_path(current_usuario.id)%></li>
                <li><%= link_to 'Editar Perfil', edit_usuario_path(current_usuario.id) %></li>
                <li><%= link_to 'Sair', destroy_usuario_session_path, :method => :delete  %></li>
              <% end %>
              <li role="separator" class="divider"></li>

              <li><a href="#" class="menu-text">Ajuda</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>






<%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track' => true %>
<style type="text/css">
</style>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div id="login-overlay" class="modal-dialog" style="width: 800px;">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Cadastro</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div>



                          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                            <div class="col-md-12">
                                    <div class="form">
                                        <%- flash.each do |name, msg| -%>
                                            <div class="form-group" style="color: red;">
                                                <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                                            </div>                                
                                        <%- end -%> 
                                        <div class="form-group">
                                            <%= f.label :email %>
                                            <%= f.text_field :email, placeholder: "email@exemplo.com", class: "form-control" %>
                                        </div>

                                        <div class="form-group">
                                            <%= f.label :password %>
                                                <% if @minimum_password_length %>
                                                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                                                <% end %>
                                            <%= f.password_field :password, placeholder: "Senha", class: "form-control" %>
                                        </div>
                                        <div class="form-group">
                                          <%= f.label :password_confirmation %>
                                          <br />
                                          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                                        </div>
                                        <div class="form-group">
                                            <%= f.label :nome %>
                                            <%= f.text_field :nome, placeholder: "Nome Sobrenome", class: "form-control" %>
                                        </div>

                                        <div class="form-group">
                                            <%= f.label :data_nascimento%>
                                            <br>
                                            <%= f.date_select(:data_nascimento, options = { :order => [:year, :month, :day ], :use_month_names=>["Janeiro" ,"Fevereiro", "Março", "Abril" ,"Maio", "Junho","Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" ],:start_year => 1900, :end_year => Time.now.year}, html_options = { :class=> "form-control", :style=>"width: 30% !important; float: right;"}) %>
                                            <br>
                                        </div>

                                        <div class="form-group">
                                            <%= f.label :sexo %>
                                            <br>
                                            <label class="btn btn-primary btn-lg btn-block btn-color">
                                                <%= f.radio_button :sexo, 'Masculino' %>Masculino
                                            </label>
                                            <label class="btn btn-primary btn-lg btn-block btn-color">
                                                <%= f.radio_button :sexo, 'Feminino' %>Feminino
                                            </label>
                                            <label class="btn btn-primary btn-lg btn-block btn-color">
                                                <%= f.radio_button :sexo, 'Outros' %>Outros
                                            </label>            
                                        </div>

                                        <div class="form-group">
                                            <%= f.label :telefone %>
                                            <%= f.number_field :telefone, placeholder: "99 9 99999999", class: "form-control" %>
                                        </div>

                                        <div class="form-group">
                                            <%= f.label :rua %>
                                            <%= f.text_field :rua, placeholder: "Rua Exemplo", class: "form-control" %>
                                        </div>

                                        <div class="form-group">
                                            <%= f.label :bairro %>
                                            <%= f.text_field :bairro, placeholder: "Bairro", class: "form-control" %>
                                        </div>

                                        <div class="form-group">
                                            <%= f.label :cidade %>
                                            <%= f.text_field :cidade, placeholder: "Cidade", class: "form-control" %>
                                        </div>

                                        <div class="form-group">
                                            <%= f.label :estado %>
                                            <%= f.text_field :estado, placeholder: "Estado", class: "form-control" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.submit "Cadastrar", :class => " form-control btn-primary btn-lg btn-color"%>
                                    </div>
                                
                            </div>
                          <% end %>




                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Cadastre-se agora!   <span class="text-success"></span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success" style="color: #3e4095"></span> Obtenha informações a respeito do ponto</li>
                          <li><span class="fa fa-check text-success" style="color: #3e4095"></span> Compare seu ponto com concorrentes</li>
                          <li><span class="fa fa-check text-success" style="color: #3e4095"></span> Visualize o fluxo de pedestres do ponto</li>
                          <li><span class="fa fa-check text-success" style="color: #3e4095"></span> Informações financeiras</li>
                          <li><a href="#"><u>Saiba mais</u></a></li>
                      </ul>
                      <p>
                        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                          <%= link_to "Cadastre-se", new_registration_path(resource_name), :class=>'btn btn-info btn-block',
                          :style=>'color:#fff;' %>
                        <% end -%>
                  </div>
              </div>
          </div>
      </div>
  </div>

    






































