<% @anuncio = Anuncio.find(anuncio_id) %>
<%= form_for(preco) do |f| %>
  <% if preco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preco.errors.count, "error") %> prohibited this preco from being saved:</h2>

      <ul>
      <% preco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <label>Preço do Aluguel: <small>(R$)</small></label>
      <%= f.number_field :preco_aluguel, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Preço de Venda: <small>(R$)</small></label>
      <%= f.number_field :preco_venda, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Preço do Ponto: <small>(R$)</small></label>
      <%= f.number_field :preco_ponto, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Preço do Condomínio: <small>(R$)</small></label>
      <%= f.number_field :preco_condominio, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Preço do IPTU: <small>(R$)</small></label>
      <%= f.number_field :preco_iptu, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Preço é negociável?</label>
      <%= f.check_box :preco_negociavel, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Outros valores: <small>(R$)</small></label>
      <%= f.number_field :preco_outros, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Descrição dos outros valores: </label>
      <%= f.text_field :preco_outros_descricao, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.hidden_field :anuncio_id, value: anuncio_id %>
    </div>

    <div class="form-group">
      <%= f.submit 'Finalizar', class: "form-control" %>
    </div>

  </div>
  
<% end %>
