<%= form_for(preco) do |f| %>
  <% if preco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preco.errors.count, "error") %> prohibited this preco from being saved:</h2>

      <ul>
      <% preco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :preco_aluguel %>
    <%= f.text_field :preco_aluguel %>
  </div>

  <div class="field">
    <%= f.label :preco_venda %>
    <%= f.text_field :preco_venda %>
  </div>

  <div class="field">
    <%= f.label :preco_ponto %>
    <%= f.text_field :preco_ponto %>
  </div>

  <div class="field">
    <%= f.label :preco_condominio %>
    <%= f.text_field :preco_condominio %>
  </div>

  <div class="field">
    <%= f.label :preco_iptu %>
    <%= f.text_field :preco_iptu %>
  </div>

  <div class="field">
    <%= f.label :preco_negociavel %>
    <%= f.check_box :preco_negociavel %>
  </div>

  <div class="field">
    <%= f.label :preco_outros %>
    <%= f.text_field :preco_outros %>
  </div>

  <div class="field">
    <%= f.label :preco_outros_descricao %>
    <%= f.text_field :preco_outros_descricao %>
  </div>

  <div class="field">
    <%= f.label :anuncio_id %>
    <%= f.text_field :anuncio_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
