<p id="notice"><%= notice %></p>

<h1>Precos</h1>

<table>
  <thead>
    <tr>
      <th>Preco aluguel</th>
      <th>Preco venda</th>
      <th>Preco ponto</th>
      <th>Preco condominio</th>
      <th>Preco iptu</th>
      <th>Preco negociavel</th>
      <th>Preco outros</th>
      <th>Preco outros descricao</th>
      <th>Anuncio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @precos.each do |preco| %>
      <tr>
        <td><%= preco.preco_aluguel %></td>
        <td><%= preco.preco_venda %></td>
        <td><%= preco.preco_ponto %></td>
        <td><%= preco.preco_condominio %></td>
        <td><%= preco.preco_iptu %></td>
        <td><%= preco.preco_negociavel %></td>
        <td><%= preco.preco_outros %></td>
        <td><%= preco.preco_outros_descricao %></td>
        <td><%= preco.anuncio %></td>
        <td><%= link_to 'Show', preco %></td>
        <td><%= link_to 'Edit', edit_preco_path(preco) %></td>
        <td><%= link_to 'Destroy', preco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preco', new_preco_path %>
