<p id="notice"><%= notice %></p>

<p>
  <strong>Preco aluguel:</strong>
  <%= @preco.preco_aluguel %>
</p>

<p>
  <strong>Preco venda:</strong>
  <%= @preco.preco_venda %>
</p>

<p>
  <strong>Preco ponto:</strong>
  <%= @preco.preco_ponto %>
</p>

<p>
  <strong>Preco condominio:</strong>
  <%= @preco.preco_condominio %>
</p>

<p>
  <strong>Preco iptu:</strong>
  <%= @preco.preco_iptu %>
</p>

<p>
  <strong>Preco negociavel:</strong>
  <%= @preco.preco_negociavel %>
</p>

<p>
  <strong>Preco outros:</strong>
  <%= @preco.preco_outros %>
</p>

<p>
  <strong>Preco outros descricao:</strong>
  <%= @preco.preco_outros_descricao %>
</p>

<p>
  <strong>Anuncio:</strong>
  <%= @preco.anuncio %>
</p>

<%= link_to 'Edit', edit_preco_path(@preco) %> |
<%= link_to 'Back', precos_path %>
