    body{
      height: 100%;
    }
    hr {
        width: 100%;
        display: block;
        margin-top: 20vh;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    }
    .navbar-menu{
      margin: 0;
      background-color: #fff;
      border: 0;
      -webkit-border-radius: 0;
      color: #000;
      border-bottom: 1px solid #9d9d9d;
    }
    .menu-text{
      font-size: 120%;
      color: #FFFFFF;
    }
    .menu-dropdown{
      font-size: 150%;
      }
    .dropdown-toggle:active, .open .dropdown-toggle {
        background:#FFF !important;
        color:#000 !important;
    }

    .btn-color{
      border: 0;
      background-color: #3e4095;
    }
    .btn-color:hover{
      background-color: #7577d2;
    }
    .btn-color:checked{
      background-color: pink !important;
    }
    .btn-color.active{
      /*background-color: pink;rgb(29, 212, 106) !important;*/
    }
    .btn-color.active.focus{
      /*background-color: rgb(29, 212, 106) !important;*/
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #FFF;
    }

    .container_fullsize{
      width: 100%;
      margin: 0;
      padding: 0;
      height: 70vh;
      background-image: url('assets/home_background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      text-align: center;
    }
    .container{

      display: block;
      position: static;
      width: 100%;
      float: none;
      padding: 0 !important;
      opacity: 0.9;
    }
    .container:hover{
    }

    #custom-search-input{
      margin-top: 5vh;
      margin-left: 9vw;
      background-color: #EEE;
      width: 80vw;
      height: 30vh;
      -webkit-border-radius : 15px;
      padding: 5px;
    }

    .filter_btn{
      margin-right: 1vw;
      height: 10vh;
      cursor: pointer;
    }

    .input-group{
      width: 40vw;
      margin-left: 25vw;
      margin-top: -10vh;
    }

    .img_filters{
      text-align: left;
      margin-top: 15vh;
      margin-left: 10vw;
    }

    .img_filters a img{
      -webkit-border-radius: 40px;
    }

    .container_filters{
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .container_filters .form-inline{
      display: inline-block;
    }

    .container_filters .form-inline .form-group{
      text-align: center;
      height: 20vh;
    }
    .container_filters .form-inline .form-group label{
      text-align: left;
    }

    #content{
      padding: 0;
      margin: 0;
    }
    .no_padding-margin{
      padding: 0;
      margin: 0;
    }
    .div-inline{
      display: inline-block;
    }
    .div-filters{
      padding-top: 1vh;
    }

    .dropdown_with_checkbox li{
      padding: 5px;
      border-top: 1px solid #e6e6e6;
    }



    .div-overflow{
      overflow-y: scroll;
      height: 85vh;
    }





    .each-anuncio{
      padding: 0;
      color: #000;
      height: 45vh;
      -webkit-border-radius: 0px;
      background-color: #FFF;
      /*background-color: #3e4095;*/
      width: 45%;
    }

    .each-anuncio header{
      width: 100%;
      height: 30vh;
    }
    .each-anuncio header img{
      width: inherit;
      height: 25vh;
    }

    .each-anuncio article{
      margin: 0;
      margin-top: -2vh;
      padding: 0;
    }

    .each-anuncio:hover{
      background-color: rgba(230, 230, 230, 0.7);
      /*background-color:rgb(29, 212, 106);*/
      cursor: pointer;
    }





    .resumo{
      background-color: #EEE;
      box-shadow: 0 10px 5px #888888;
      z-index: 10;
      height: 10vh;
    }

    .resumo-box{
      border-left: solid 1px #BBB;
      height: 10vh;
    }

    .resumo-box-different{
      border: none;
    }



    .bg-primary {
 background-color: #000 !important;
}

.bg-circle
{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 14px 4px;
  color: #ececec;
  text-align: center;
  border-radius: 50%;
}

.bg-circle-outline
{
  width: 50px;
  height: 50px;
  color:smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
}


.bg-circle a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.bg-circle-outline a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.footer-top-layout {
 background: #1c1c1c none repeat scroll 0 0;
 color: #ffffff;
 padding: 40px 0;
}
.OurBlog {
 margin-bottom: 32px;
 text-align: center;
}
.footer-top-layout h4 {
 color: #ffffff;
 font-size: 18px;
 margin-bottom: 21px;
}
.OurBlog > p {
 color: #888888;
}
.post-blog-date::after {
 background: #ffffff none repeat scroll 0 0;
 bottom: 0;
 content: "";
 height: 4px;
 left: 0;
 margin: auto;
 position: absolute;
 right: 0;
 width: 50px;
}
.post-blog-date {
 padding-bottom: 25px;
 position: relative;
}

body {
 color: #666666;
 font-family: "Calibri";
 line-height: 24px;
}

.footer-top-layout [class*="col-sm-"]:first-child {
 padding: 0;
}
.footer-top-layout [class*="col-sm-"] {
 border-right: 2px solid #333333;
 padding: 0 0 0 28px;

}
.footer-top-layout {
 color: #ffffff;
}
.footer-col-item {
 min-height: 140px;
}

address {
 color: #545454;
}


.footer-top-layout [class*="col-sm-"]:last-child {
 border-right: medium none;
}
.footer-top-layout {
 color: #ffffff;
}
body {
 color: #666666;
 font-family: "Open Sans",sans-serif;

}
.footer-top-layout h4 {
 color: #ffffff;
 font-size: 18px;
 margin-bottom: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
 color: #333333;
 font-family: "Roboto",sans-serif;
 font-weight: 500;
 line-height: 1.1;
 margin-top: 0;
}
body {
 color: #666666;
 font-family: "Open Sans",sans-serif;
 line-height: 24px;
}
.footer-col-item .item-contact a {
 color: #545454;
 display: inline-block;
 margin-bottom: 7px;
 width: 100%;
}

.footer-col-item .item-contact a .link-id {
 color: #ffffff;
 margin-left: 0;
 margin-right: 6px;
}
.footer-col-item span {
 margin-left: 7px;
}
.footer-col-item .item-contact a {
 color: #545454;
}

.footer-top-layout h4 {
 color: #ffffff;
 font-size: 18px;
 margin-bottom: 21px;
}
.signUpNewsletter {
 position: relative;
}
.signUpNewsletter .gt-email {
 background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 border: 1px solid #666666;
 border-radius: 0;
 color: #ffffff;
 height: 52px;
}
.signUpNewsletter .btn-go {
 background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 border-color: #666666;
 border-style: solid;
 border-width: 0 0 0 1px;
 bottom: 0;
 color: #ffffff;
 font-size: 16px;
 position: absolute;
 right: 0;
 text-transform: uppercase;
 top: 0;
 width: 52px;
}
.footer-bottom-layout {
 background: #222222 none repeat scroll 0 0;
 padding: 20px 0;
 text-align: center;
}
body {
 color: #666666;
 font-family: "Open Sans",sans-serif;
 line-height: 24px;
}
.socialMedia-footer {
 margin-bottom: 20px;
}
.socialMedia-footer > a {
 display: inline-block;
 margin: 0 8px;
}
.footer-bottom-layout {
 text-align: center;
}
