.navbar-menu{
      margin: 0;
      background-color: #fff;
      border: 0;
      -webkit-border-radius: 0;
      color: #000;
      border-bottom: 1px solid #9d9d9d;
    }
    .menu-text{
      font-size: 120%;
      color: #FFFFFF;
    }
    .menu-dropdown{
      font-size: 150%;
      }
    .dropdown-toggle:active, .open .dropdown-toggle {
        background:#FFF !important;
        color:#000 !important;
    }

    .btn-color{
      border: 0;
      background-color: #3e4095;
    }
    .btn-color:hover{
      background-color: #7577d2;
    }
    .btn-color:checked{
      background-color: pink !important;
    }
    .btn-color.active{
      /*background-color: pink;rgb(29, 212, 106) !important;*/
    }
    .btn-color.active.focus{
      /*background-color: rgb(29, 212, 106) !important;*/
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #FFF;
    }

    .container_fullsize{
      width: 100%;
      margin: 0;
      padding: 0;
      height: 70vh;
      background-image: url('assets/home_background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      text-align: center;
    }
    .container{
      display: block;
      position: static;
      width: 50%;
      float: none;
      padding-top: 30vh;
      opacity: 0.9;
    }
    .container:hover{
      opacity: 1;
    }

    .container_filters{
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .container_filters .form-inline{
      display: inline-block;
    }

    .container_filters .form-inline .form-group{
      text-align: center;
      height: 20vh;
    }
    .container_filters .form-inline .form-group label{
      text-align: left;
    }

    #content{
      padding: 0;
      margin: 0;
    }
    .no_padding-margin{
      padding: 0;
      margin: 0;
    }
    .div-inline{
      display: inline-block;
    }
    .div-filters{
      padding-top: 1vh;
    }
    .div-overflow{
      overflow-y: scroll;
      height: 85vh;
    }
    .each-anuncio{
      height: 40vh;
      width: 90%;
      margin-left: 5%;
      -webkit-border-radius: 0px;
      background-color: #3e4095;
    }
    .each-anuncio header{
      width: 100%;
      height: 30vh;
    }
    .each-anuncio header img{
      width: inherit;
      height: 30vh;
    }
    .each-anuncio:hover{
      background-color:rgb(29, 212, 106);
      cursor: pointer;
    }
