    body{
      height: 100%;
    }
    hr {
        width: 100%;
        display: block;
        margin-top: 20vh;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    }
    .navbar-menu{
      margin: 0;
      background-color: #fff;
      border: 0;
      -webkit-border-radius: 0;
      color: #000;
      border-bottom: 1px solid #9d9d9d;
    }
    .menu-text{
      font-size: 120%;
      color: #FFFFFF;
    }
    .menu-dropdown{
      font-size: 150%;
      }
    .dropdown-toggle:active, .open .dropdown-toggle {
        background:#FFF !important;
        color:#000 !important;
    }

    .btn-color{
      border: 0;
      background-color: #3e4095;
    }
    .btn-color:hover{
      background-color: #7577d2;
    }
    .btn-color:checked{
      background-color: pink !important;
    }
    .btn-color.active{
      /*background-color: pink;rgb(29, 212, 106) !important;*/
    }
    .btn-color.active.focus{
      /*background-color: rgb(29, 212, 106) !important;*/
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #FFF;
    }

    .container_fullsize{
      width: 100%;
      margin: 0;
      padding: 0;
      height: 70vh;
      background-image: url('assets/home_background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      text-align: center;
    }
    .container{

      display: block;
      position: static;
      width: 100%;
      float: none;
      padding: 0 !important;
      opacity: 0.9;
    }
    .container:hover{
    }

    #custom-search-input{
      margin-top: 5vh;
      margin-left: 9vw;
      background-color: #EEE;
      width: 80vw;
      height: 30vh;
      -webkit-border-radius : 15px;
      padding: 5px;
    }

    .filter_btn{
      margin-right: 1vw;
      height: 10vh;
      cursor: pointer;
    }

    .input-group{
      width: 40vw;
      margin-left: 25vw;
      margin-top: -10vh;
    }

    .img_filters{
      text-align: left;
      margin-top: 15vh;
      margin-left: 10vw;
    }

    .img_filters a img{
      -webkit-border-radius: 40px;
    }

    .container_filters{
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .container_filters .form-inline{
      display: inline-block;
    }

    .container_filters .form-inline .form-group{
      text-align: center;
      height: 20vh;
    }
    .container_filters .form-inline .form-group label{
      text-align: left;
    }

    #content{
      padding: 0;
      margin: 0;
    }
    .no_padding-margin{
      padding: 0;
      margin: 0;
    }
    .div-inline{
      display: inline-block;
    }
    .div-filters{
      padding-top: 1vh;
    }

    .dropdown_with_checkbox li{
      padding: 5px;
      border-top: 1px solid #e6e6e6;
    }



    .div-overflow{
      overflow-y: scroll;
      height: 85vh;
    }





    .each-anuncio{
      padding: 0;
      color: #000;
      height: 45vh;
      -webkit-border-radius: 0px;
      background-color: #FFF;
      /*background-color: #3e4095;*/
      width: 45%;
    }

    .each-anuncio header{
      width: 100%;
      height: 30vh;
    }
    .each-anuncio header img{
      width: inherit;
      height: 25vh;
    }

    .each-anuncio article{
      margin: 0;
      margin-top: -2vh;
      padding: 0;
    }

    .each-anuncio:hover{
      background-color: rgba(230, 230, 230, 0.7);
      /*background-color:rgb(29, 212, 106);*/
      cursor: pointer;
    }





    .resumo{
      background-color: #EEE;
      box-shadow: 0 10px 5px #888888;
      z-index: 10;
      height: 10vh;
    }

    .resumo-box{
      border-left: solid 1px #BBB;
      height: 10vh;
    }

    .resumo-box-different{
      border: none;
    }



    .bg-primary {
 background-color: #000 !important;
}

.bg-circle
{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 14px 4px;
  color: #ececec;
  text-align: center;
  border-radius: 50%;
}

.bg-circle-outline
{
  width: 50px;
  height: 50px;
  color:smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
}


.bg-circle a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.bg-circle-outline a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.footer-top-layout {
 background: #1c1c1c none repeat scroll 0 0;
 color: #ffffff;
 padding: 40px 0;
}
.OurBlog {
 margin-bottom: 32px;
 text-align: center;
}
.footer-top-layout h4 {
 color: #ffffff;
 font-size: 18px;
 margin-bottom: 21px;
}
.OurBlog > p {
 color: #888888;
}
.post-blog-date::after {
 background: #ffffff none repeat scroll 0 0;
 bottom: 0;
 content: "";
 height: 4px;
 left: 0;
 margin: auto;
 position: absolute;
 right: 0;
 width: 50px;
}
.post-blog-date {
 padding-bottom: 25px;
 position: relative;
}

body {
 color: #666666;
 font-family: "Calibri";
 line-height: 24px;
}

.footer-top-layout [class*="col-sm-"]:first-child {
 padding: 0;
}
.footer-top-layout [class*="col-sm-"] {
 border-right: 2px solid #333333;
 padding: 0 0 0 28px;

}
.footer-top-layout {
 color: #ffffff;
}
.footer-col-item {
 min-height: 140px;
}

address {
 color: #545454;
}


.footer-top-layout [class*="col-sm-"]:last-child {
 border-right: medium none;
}
.footer-top-layout {
 color: #ffffff;
}
body {
 color: #666666;
 font-family: "Open Sans",sans-serif;

}
.footer-top-layout h4 {
 color: #ffffff;
 font-size: 18px;
 margin-bottom: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
 color: #333333;
 font-family: "Roboto",sans-serif;
 font-weight: 500;
 line-height: 1.1;
 margin-top: 0;
}
body {
 color: #666666;
 font-family: "Open Sans",sans-serif;
 line-height: 24px;
}
.footer-col-item .item-contact a {
 color: #545454;
 display: inline-block;
 margin-bottom: 7px;
 width: 100%;
}

.footer-col-item .item-contact a .link-id {
 color: #ffffff;
 margin-left: 0;
 margin-right: 6px;
}
.footer-col-item span {
 margin-left: 7px;
}
.footer-col-item .item-contact a {
 color: #545454;
}

.footer-top-layout h4 {
 color: #ffffff;
 font-size: 18px;
 margin-bottom: 21px;
}
.signUpNewsletter {
 position: relative;
}
.signUpNewsletter .gt-email {
 background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 border: 1px solid #666666;
 border-radius: 0;
 color: #ffffff;
 height: 52px;
}
.signUpNewsletter .btn-go {
 background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 border-color: #666666;
 border-style: solid;
 border-width: 0 0 0 1px;
 bottom: 0;
 color: #ffffff;
 font-size: 16px;
 position: absolute;
 right: 0;
 text-transform: uppercase;
 top: 0;
 width: 52px;
}
.footer-bottom-layout {
 background: #222222 none repeat scroll 0 0;
 padding: 20px 0;
 text-align: center;
}
body {
 color: #666666;
 font-family: "Open Sans",sans-serif;
 line-height: 24px;
}
.socialMedia-footer {
 margin-bottom: 20px;
}
.socialMedia-footer > a {
 display: inline-block;
 margin: 0 8px;
}
.footer-bottom-layout {
 text-align: center;
}
/* line 4, C:/Users/soares/git/que-ponto/app/assets/stylesheets/maps.scss */
#map-container {
  height: 400px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
}

/* line 13, C:/Users/soares/git/que-ponto/app/assets/stylesheets/maps.scss */
#map_canvas {
  height: inherit;
  width: inherit;
}

/* line 17, C:/Users/soares/git/que-ponto/app/assets/stylesheets/maps.scss */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* line 28, C:/Users/soares/git/que-ponto/app/assets/stylesheets/maps.scss */
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

/* line 39, C:/Users/soares/git/que-ponto/app/assets/stylesheets/maps.scss */
#pac-input:focus {
  border-color: #4d90fe;
}

/* line 43, C:/Users/soares/git/que-ponto/app/assets/stylesheets/maps.scss */
.pac-container {
  font-family: Roboto;
}

/* line 47, C:/Users/soares/git/que-ponto/app/assets/stylesheets/maps.scss */
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

/* line 53, C:/Users/soares/git/que-ponto/app/assets/stylesheets/maps.scss */
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* line 59, C:/Users/soares/git/que-ponto/app/assets/stylesheets/maps.scss */
#map_canvas, #street_view_canvas {
  float: left;
  height: 100%;
  width: 50%;
}
/*********************************************************
*
*				Slide show de Fotos
*
*********************************************************/
/* Main carousel style */
/* Makes images fully responsive */
/* line 11, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */
/* line 23, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-inner {
  border-radius: 15px;
}

/* line 27, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

/* line 39, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

/* line 51, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
/* line 59, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.section-white {
  padding: 10px 0;
}

/* line 63, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {
  /* line 70, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
  .section-white {
    padding: 1.5em 0;
  }
}
@media screen and (min-width: 992px) {
  /* line 78, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
  .container-slide {
    max-width: 930px;
  }
}
/* line 6, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.navbar-menu {
  margin: 0;
  background-color: #fa5000;
  border: 0;
  -webkit-border-radius: 0;
  color: #FFFFFF;
}

/* line 13, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.menu-text {
  font-size: 120%;
  color: #FFFFFF;
}

/* line 17, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.menu-dropdown {
  font-size: 150%;
}

/* line 21, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.dropdown-toggle:active, .open .dropdown-toggle {
  background: #FFF !important;
  color: #000 !important;
}

/* line 26, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.btn-color {
  border: 0;
  background-color: #00802b;
}

/* line 30, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.btn-color:hover {
  background-color: #fa5000;
}

/* line 33, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.btn-color.active {
  background-color: #fa5000 !important;
}

/* line 36, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.btn-color.active.focus {
  background-color: #fa5000 !important;
}

/* line 40, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

/* line 50, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.container_fullsize {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 70vh;
  background-image: url("assets/home_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

/* line 61, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.container {
  display: block;
  position: static;
  width: 50%;
  float: none;
  padding-top: 30vh;
  opacity: 0.9;
}

/* line 69, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.container:hover {
  opacity: 1;
}

/* line 73, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.container_filters {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 80, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.container_filters .form-inline {
  display: inline-block;
}

/* line 84, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.container_filters .form-inline .form-group {
  text-align: center;
  height: 20vh;
}

/* line 88, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.container_filters .form-inline .form-group label {
  text-align: left;
}

/* line 92, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
#content {
  padding: 0;
  margin: 0;
}

/* line 96, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.no_padding-margin {
  padding: 0;
  margin: 0;
}

/* line 100, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.div-inline {
  display: inline-block;
}

/* line 103, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.div-filters {
  padding-top: 1vh;
}

/* line 106, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.div-overflow {
  overflow-y: scroll;
  height: 85vh;
}

/* line 110, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.each-anuncio {
  height: 40vh;
  width: 90%;
  margin-left: 5%;
  -webkit-border-radius: 15px;
  background-color: #00802b;
}

/* line 117, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.each-anuncio header {
  width: 100%;
  height: 30vh;
}

/* line 121, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.each-anuncio header img {
  width: inherit;
  height: 30vh;
}

/* line 125, C:/Users/soares/git/que-ponto/app/assets/stylesheets/ponto_comercials.scss */
.each-anuncio:hover {
  background-color: #fa5000;
  cursor: pointer;
}
/* line 1, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, C:/Users/soares/git/que-ponto/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

