.navbar-menu{
      margin: 0;
      background-color: #fff;
      border: 0;
      -webkit-border-radius: 0;
      color: #000;
      border-bottom: 1px solid #9d9d9d;
    }
    .menu-text{
      font-size: 120%;
      color: #FFFFFF;
    }
    .menu-dropdown{
      font-size: 150%;
      }
    .dropdown-toggle:active, .open .dropdown-toggle {
        background:#FFF !important;
        color:#000 !important;
    }

    .btn-color{
      border: 0;
      background-color: #3e4095;
    }
    .btn-color:hover{
      background-color: #7577d2;
    }
    .btn-color:checked{
      background-color: pink !important;
    }
    .btn-color.active{
      /*background-color: pink;rgb(29, 212, 106) !important;*/
    }
    .btn-color.active.focus{
      /*background-color: rgb(29, 212, 106) !important;*/
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #FFF;
    }

    .container_fullsize{
      width: 100%;
      margin: 0;
      padding: 0;
      height: 70vh;
      background-image: url('assets/home_background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      text-align: center;
    }
    .container{
      display: block;
      position: static;
      width: 50%;
      float: none;
      padding-top: 30vh;
      opacity: 0.9;
    }
    .container:hover{
      opacity: 1;
    }

    .container_filters{
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .container_filters .form-inline{
      display: inline-block;
    }

    .container_filters .form-inline .form-group{
      text-align: center;
      height: 20vh;
    }
    .container_filters .form-inline .form-group label{
      text-align: left;
    }

    #content{
      padding: 0;
      margin: 0;
    }
    .no_padding-margin{
      padding: 0;
      margin: 0;
    }
    .div-inline{
      display: inline-block;
    }
    .div-filters{
      padding-top: 1vh;
    }
    .div-overflow{
      overflow-y: scroll;
      height: 85vh;
    }
    .each-anuncio{
      color: #FFF;
      height: 40vh;
      width: 90%;
      margin-left: 5%;
      -webkit-border-radius: 0px;
      background-color: #3e4095;
    }
    .each-anuncio header{
      width: 100%;
      height: 30vh;
    }
    .each-anuncio header img{
      width: inherit;
      height: 30vh;
    }
    .each-anuncio:hover{
      background-color:rgb(29, 212, 106);
      cursor: pointer;
    }
/* line 1, C:/quePonto/app/assets/stylesheets/all.css.scss */
.navbar-menu {
  margin: 0;
  background-color: #fa5000;
  border: 0;
  -webkit-border-radius: 0;
  color: #FFFFFF;
}

/* line 8, C:/quePonto/app/assets/stylesheets/all.css.scss */
.menu-text {
  font-size: 120%;
  color: #FFFFFF;
}

/* line 12, C:/quePonto/app/assets/stylesheets/all.css.scss */
.menu-dropdown {
  font-size: 150%;
  border-left: 1px solid black;
}

/* line 16, C:/quePonto/app/assets/stylesheets/all.css.scss */
.dropdown-toggle:active, .open .dropdown-toggle {
  background: #FFF !important;
  color: #000 !important;
}

/* line 21, C:/quePonto/app/assets/stylesheets/all.css.scss */
.btn-color {
  border: 0;
  background-color: #00802b;
}

/* line 25, C:/quePonto/app/assets/stylesheets/all.css.scss */
.btn-color:hover {
  background-color: #fa5000;
}

/* line 28, C:/quePonto/app/assets/stylesheets/all.css.scss */
.btn-color:active {
  background-color: #fa5000 !important;
}

/* line 31, C:/quePonto/app/assets/stylesheets/all.css.scss */
.btn-color:focus {
  background-color: #fa5000 !important;
}

/* line 35, C:/quePonto/app/assets/stylesheets/all.css.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

/* line 45, C:/quePonto/app/assets/stylesheets/all.css.scss */
.container_fullsize {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 70vh;
  background-image: url(/assets/home_background-dd2e1536fdda7be03ec628381cd9eff815ad4e3ea0bd62ceebf1c7ebe0a2e53e.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

/* line 56, C:/quePonto/app/assets/stylesheets/all.css.scss */
.container {
  display: block;
  position: static;
  width: 50%;
  float: none;
  padding-top: 30vh;
  opacity: 0.9;
}

/* line 64, C:/quePonto/app/assets/stylesheets/all.css.scss */
.container:hover {
  opacity: 1;
}

/* line 68, C:/quePonto/app/assets/stylesheets/all.css.scss */
.container_filters {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 75, C:/quePonto/app/assets/stylesheets/all.css.scss */
.container_filters .form-inline {
  display: inline-block;
}

/* line 79, C:/quePonto/app/assets/stylesheets/all.css.scss */
.container_filters .form-inline .form-group {
  text-align: center;
  height: 20vh;
}

/* line 83, C:/quePonto/app/assets/stylesheets/all.css.scss */
.container_filters .form-inline .form-group label {
  text-align: left;
}

/* line 87, C:/quePonto/app/assets/stylesheets/all.css.scss */
#content {
  padding: 0;
  margin: 0;
}

/* line 91, C:/quePonto/app/assets/stylesheets/all.css.scss */
.no_padding-margin {
  padding: 0;
  margin: 0;
}

/* line 95, C:/quePonto/app/assets/stylesheets/all.css.scss */
.div-inline {
  display: inline-block;
}

/* line 98, C:/quePonto/app/assets/stylesheets/all.css.scss */
.div-filters {
  padding-top: 1vh;
}

/* line 101, C:/quePonto/app/assets/stylesheets/all.css.scss */
.div-overflow {
  overflow-y: scroll;
  height: 85vh;
}

/* line 105, C:/quePonto/app/assets/stylesheets/all.css.scss */
.each-anuncio {
  color: #FFF;
  height: 40vh;
  width: 90%;
  margin-left: 5%;
  -webkit-border-radius: 15px;
  background-color: #00802b;
  /* GREEN */
}

/* line 113, C:/quePonto/app/assets/stylesheets/all.css.scss */
.each-anuncio header {
  width: 100%;
  height: 30vh;
}

/* line 117, C:/quePonto/app/assets/stylesheets/all.css.scss */
.each-anuncio header img {
  width: inherit;
  height: 30vh;
}

/* line 121, C:/quePonto/app/assets/stylesheets/all.css.scss */
.each-anuncio:hover {
  background-color: #fa5000;
  /* ORANGE */
  cursor: pointer;
}

/* line 128, C:/quePonto/app/assets/stylesheets/all.css.scss */
.resumo-box {
  border: 1px solid black;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 10vh;
}

/* line 135, C:/quePonto/app/assets/stylesheets/all.css.scss */
.resumo-box-different article {
  margin-top: -1vh;
  line-height: 0.9;
}

/* line 139, C:/quePonto/app/assets/stylesheets/all.css.scss */
.resumo-box p b {
  font-size: 110%;
}

/* line 144, C:/quePonto/app/assets/stylesheets/all.css.scss */
.fotos {
  height: 85vh;
}

/* line 147, C:/quePonto/app/assets/stylesheets/all.css.scss */
.item {
  height: 70vh;
}

/* line 150, C:/quePonto/app/assets/stylesheets/all.css.scss */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

/* line 159, C:/quePonto/app/assets/stylesheets/all.css.scss */
.about {
  clear: both;
  margin: 10vh 0 0 0;
}

/* line 163, C:/quePonto/app/assets/stylesheets/all.css.scss */
.about_attribute {
  float: right;
  padding: auto;
  font-size: 150%;
}

/* line 168, C:/quePonto/app/assets/stylesheets/all.css.scss */
.description {
  border: solid 1px grey;
  height: 49vh;
  padding: 2% 2% 2% 2%;
  text-align: justify;
  text-justify: inter-word;
}

/* line 176, C:/quePonto/app/assets/stylesheets/all.css.scss */
hr {
  width: 100%;
  border-width: 1vh;
  border-color: grey;
}

/* line 182, C:/quePonto/app/assets/stylesheets/all.css.scss */
.homologado-box {
  border: 1px solid black;
  text-align: center;
}

/* line 187, C:/quePonto/app/assets/stylesheets/all.css.scss */
.fluxo-grid-resposta {
  font-weight: bold;
  float: right;
}

/* line 192, C:/quePonto/app/assets/stylesheets/all.css.scss */
.list-group-concorrencia {
  text-align: center;
}

/* line 199, C:/quePonto/app/assets/stylesheets/all.css.scss */
.heart {
  background: url(images/web_heart_animation.png);
  background-position: left;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  left: -14px;
  background-size: 1450px;
}

/* line 210, C:/quePonto/app/assets/stylesheets/all.css.scss */
.heart:hover {
  background-position: right;
}

/* line 214, C:/quePonto/app/assets/stylesheets/all.css.scss */
.likeCount {
  margin-top: 13px;
  margin-left: 28px;
  font-size: 16px;
  color: #999999;
}

@-webkit-keyframes heartBlast {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes heartBlast {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/* line 236, C:/quePonto/app/assets/stylesheets/all.css.scss */
.heartAnimation {
  -webkit-animation-name: heartBlast;
  animation-name: heartBlast;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(28);
  animation-timing-function: steps(28);
  background-position: right;
}
/* line 4, C:/quePonto/app/assets/stylesheets/maps.scss */
#map-container {
  height: 400px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
}

/* line 13, C:/quePonto/app/assets/stylesheets/maps.scss */
#map_canvas {
  height: inherit;
  width: inherit;
}

/* line 17, C:/quePonto/app/assets/stylesheets/maps.scss */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* line 28, C:/quePonto/app/assets/stylesheets/maps.scss */
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

/* line 39, C:/quePonto/app/assets/stylesheets/maps.scss */
#pac-input:focus {
  border-color: #4d90fe;
}

/* line 43, C:/quePonto/app/assets/stylesheets/maps.scss */
.pac-container {
  font-family: Roboto;
}

/* line 47, C:/quePonto/app/assets/stylesheets/maps.scss */
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

/* line 53, C:/quePonto/app/assets/stylesheets/maps.scss */
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* line 59, C:/quePonto/app/assets/stylesheets/maps.scss */
#map_canvas, #street_view_canvas {
  float: left;
  height: 100%;
  width: 50%;
}
/*********************************************************
*
*				Slide show de Fotos
*
*********************************************************/
/* Main carousel style */
/* Makes images fully responsive */
/* line 11, C:/quePonto/app/assets/stylesheets/photo_slide.css.scss */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */
/* line 23, C:/quePonto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-inner {
  border-radius: 15px;
}

/* line 27, C:/quePonto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

/* line 39, C:/quePonto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

/* line 51, C:/quePonto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
/* line 59, C:/quePonto/app/assets/stylesheets/photo_slide.css.scss */
.section-white {
  padding: 10px 0;
}

/* line 63, C:/quePonto/app/assets/stylesheets/photo_slide.css.scss */
.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {
  /* line 70, C:/quePonto/app/assets/stylesheets/photo_slide.css.scss */
  .section-white {
    padding: 1.5em 0;
  }
}
@media screen and (min-width: 992px) {
  /* line 78, C:/quePonto/app/assets/stylesheets/photo_slide.css.scss */
  .container-slide {
    max-width: 930px;
  }
}
/* line 6, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.navbar-menu {
  margin: 0;
  background-color: #fa5000;
  border: 0;
  -webkit-border-radius: 0;
  color: #FFFFFF;
}

/* line 13, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.menu-text {
  font-size: 120%;
  color: #FFFFFF;
}

/* line 17, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.menu-dropdown {
  font-size: 150%;
}

/* line 21, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.dropdown-toggle:active, .open .dropdown-toggle {
  background: #FFF !important;
  color: #000 !important;
}

/* line 26, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.btn-color {
  border: 0;
  background-color: #00802b;
}

/* line 30, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.btn-color:hover {
  background-color: #fa5000;
}

/* line 33, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.btn-color.active {
  background-color: #fa5000 !important;
}

/* line 36, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.btn-color.active.focus {
  background-color: #fa5000 !important;
}

/* line 40, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

/* line 50, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.container_fullsize {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 70vh;
  background-image: url("assets/home_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

/* line 61, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.container {
  display: block;
  position: static;
  width: 50%;
  float: none;
  padding-top: 30vh;
  opacity: 0.9;
}

/* line 69, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.container:hover {
  opacity: 1;
}

/* line 73, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.container_filters {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 80, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.container_filters .form-inline {
  display: inline-block;
}

/* line 84, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.container_filters .form-inline .form-group {
  text-align: center;
  height: 20vh;
}

/* line 88, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.container_filters .form-inline .form-group label {
  text-align: left;
}

/* line 92, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
#content {
  padding: 0;
  margin: 0;
}

/* line 96, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.no_padding-margin {
  padding: 0;
  margin: 0;
}

/* line 100, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.div-inline {
  display: inline-block;
}

/* line 103, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.div-filters {
  padding-top: 1vh;
}

/* line 106, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.div-overflow {
  overflow-y: scroll;
  height: 85vh;
}

/* line 110, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.each-anuncio {
  height: 40vh;
  width: 90%;
  margin-left: 5%;
  -webkit-border-radius: 15px;
  background-color: #00802b;
}

/* line 117, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.each-anuncio header {
  width: 100%;
  height: 30vh;
}

/* line 121, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.each-anuncio header img {
  width: inherit;
  height: 30vh;
}

/* line 125, C:/quePontoGIT/app/assets/stylesheets/ponto_comercials.scss */
.each-anuncio:hover {
  background-color: #fa5000;
  cursor: pointer;
}
/* line 1, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, C:/quePonto/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

