/*********************************************************
*
*				Slide show de Fotos
*
*********************************************************/
/* Main carousel style */
/* Makes images fully responsive */
/* line 11, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */
/* line 23, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-inner {
  border-radius: 15px;
}

/* line 27, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

/* line 39, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

/* line 51, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
/* line 59, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.section-white {
  padding: 10px 0;
}

/* line 63, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {
  /* line 70, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
  .section-white {
    padding: 1.5em 0;
  }
}
@media screen and (min-width: 992px) {
  /* line 78, C:/Users/soares/git/que-ponto/app/assets/stylesheets/photo_slide.css.scss */
  .container-slide {
    max-width: 930px;
  }
}
