<%= form_for(notification) do |f| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_id %>
    <%= f.text_field :usuario_id %>
  </div>

  <div class="field">
    <%= f.label :visualizado %>
    <%= f.check_box :visualizado %>
  </div>

  <div class="field">
    <%= f.label :conteudo %>
    <%= f.text_field :conteudo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
