<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @notification.usuario %>
</p>

<p>
  <strong>Visualizado:</strong>
  <%= @notification.visualizado %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @notification.conteudo %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
