<p id="notice"><%= notice %></p>

<%= Usuario.find(@like.usuario).nome %>

<br>

<%=  Anuncio.find(@like.anuncios_id).nome %>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
