<%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track' => true %>
<style type="text/css">
  .navbar-header{
      background-image: url(/assets/LOGO_AZUL_OFICIAL.png);
      width: 200px;
      background-size: 156px;
      background-repeat: no-repeat;
      background-position: 0px 6px;
    }
</style>
<nav class="navbar navbar-default navbar-menu" id="navegacao" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed btn-color"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color: #777; width:100%;"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <% if @logged_in %>
            <li><%= link_to 'Agenda', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Favoritos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Meus Anuncios', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Anunciar' , new_anuncio_path, :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Alertas', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Mensagens', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Planos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <img src="/assets/engine3.png" style=" width: 19px; float: right; margin-top: 15px; margin-right: 20px;">
          <li class="dropdown menu-dropdown">
            <a href="#" class="dropdown-toggle menu-text"
              data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false" style="color: #777; font-size: 16px">
                  <% if ! @logged_in %>
                    Entrar
                  <% else %>
                    <%=current_usuario.nome%>
                  <% end %>
                </span></a>
            <ul class="dropdown-menu">


              <% if ! @logged_in %>
                <li><%= link_to "Entrar", usuario_session_path %></li>
                <li><%= link_to "Cadastrar", new_usuario_registration_path%></li>

              <% else %>
                <li><%= link_to 'Perfil', usuario_path(current_usuario.id)%></li>
                <li><%= link_to 'Editar Perfil', edit_usuario_path(current_usuario.id) %></li>
                <li><%= link_to 'Sair', destroy_usuario_session_path, :method => :delete  %></li>
              <% end %>
              <li role="separator" class="divider"></li>

              <li><a href="#" class="menu-text">Ajuda</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div id="login-overlay" class="modal-dialog" style="width: 800px;">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                              <%- flash.each do |name, msg| -%>
                                <div class="form-group" style="color: red;">
                                  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                                </div>
                              <%- end -%>

                              <div class="form-group">
                                  <label for="username" class="control-label">Login</label>
                                  <%= f.email_field :email, autofocus: true, :class=> 'form-control' %>
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Senha</label>
                                  <%= f.password_field :password, autocomplete: "off",  :class=> 'form-control' %>
                                  <span class="help-block"></span>
                              </div>
                              <div id="loginErrorMsg" class="alert alert-error hide">Login ou Senhas inválidos</div>
                              <div class="checkbox">
                                <% if devise_mapping.rememberable? -%>
                                    <div class="checkbox" style="margin-left:21px;">
                                        <%= f.check_box :remember_me %>
                                        <label>Lembrar-me</label>
                                    </div>
                                <% end -%>
                                  <p class="help-block"></p>
                              </div>
                              <%= f.submit "Entrar", :class=>'btn btn-success btn-block', :style=>'background-color: #3e4095;
                              border-color: #3e4095;' %>
                              <a href="#" class="btn btn-default btn-block">Ajuda?</a>
                          <% end %>
                          <%= render "devise/shared/links" %>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Cadastre-se agora!   <span class="text-success"></span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success" style="color: #3e4095"></span> Obtenha informações a respeito do ponto</li>
                          <li><span class="fa fa-check text-success" style="color: #3e4095"></span> Compare seu ponto com concorrentes</li>
                          <li><span class="fa fa-check text-success" style="color: #3e4095"></span> Visualize o fluxo de pedestres do ponto</li>
                          <li><span class="fa fa-check text-success" style="color: #3e4095"></span> Informações financeiras</li>
                          <li><a href="#"><u>Saiba mais</u></a></li>
                      </ul>
                      <p>
                        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                          <%= link_to "Cadastre-se", new_registration_path(resource_name), :class=>'btn btn-info btn-block',
                          :style=>'color:#fff;' %>
                        <% end -%>
                  </div>
              </div>
          </div>
      </div>
  </div>
