<%= javascript_include_tag 'utils.js'%>
<%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track' => true %>
<%= form_for(usuario) do |f| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12">
  <div class="row" style="margin-left:0px !important;">
    <div class="col-lg-12" style="text-align: start; margin-bottom: 10px;">
      <h4><b style="color: #8e8e8e;">Cadastro</b></h4>
    </div><!-- col-lg-12 -->
  </div><!-- row -->
    <div class="col-md-6">
        <div class="form">
            <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, placeholder: "email@exemplo.com", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :senha %>
                <%= f.password_field :senha, placeholder: "Senha", class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :nome %>
                <%= f.text_field :nome, placeholder: "Nome Sobrenome", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :data_nascimento%>
                <br>
                <%= f.date_select(:data_nascimento, options = { :order => [:year, :month, :day ], :use_month_names=>["Janeiro" ,"Fevereiro", "Março", "Abril" ,"Maio", "Junho","Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" ],:start_year => 1900, :end_year => Time.now.year}, html_options = { :class=> "form-control", :style=>"width: 30% !important; float: right;"}) %>
                <br>
            </div>

            <div class="form-group">
                <%= f.label :sexo %>
                <br>
                <label class="btn btn-primary btn-lg btn-block btn-color">
                    <%= f.radio_button :sexo, 'Masculino' %>Masculino
                </label>
                <label class="btn btn-primary btn-lg btn-block btn-color">
                    <%= f.radio_button :sexo, 'Feminino' %>Feminino
                </label>
                <label class="btn btn-primary btn-lg btn-block btn-color">
                    <%= f.radio_button :sexo, 'Outros' %>Outros
                </label>
            </div>

            <div class="form-group">
                <%= f.label :telefone %>
                <%= f.number_field :telefone, placeholder: "99 9 99999999", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :rua %>
                <%= f.text_field :rua, placeholder: "Rua Exemplo", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :bairro %>
                <%= f.text_field :bairro, placeholder: "Bairro", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :cidade %>
                <%= f.text_field :cidade, placeholder: "Cidade", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :estado %>
                <%= f.text_field :estado, placeholder: "Estado", class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <%= f.submit "Cadastrar", :class => " form-control btn-primary btn-lg btn-color"%>
        </div>
    </div>
    <div class="col-md-3">
    </div>

</div>



<% end %>
