<%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track' => true %>
<style type="text/css">
  .navbar-header{
      background-image: url(/assets/LOGO_AZUL_OFICIAL.png);
      width: 200px;
      background-size: 156px;
      background-repeat: no-repeat;
      background-position: 0px 6px;
    }
</style>
<nav class="navbar navbar-default navbar-menu" id="navegacao" >
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed btn-color"
			data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" style="color: #777;  width:100%;"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<% if @logged_in %>
					<li><%= link_to 'Agenda', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
					<li><%= link_to 'Favoritos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
					<li><%= link_to 'Meus Anuncios', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
					<li><%= link_to 'Anunciar' , new_anuncio_path, :class => "menu-text", :style => "color: #777"%></li>
					<li><button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Alertas
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% for notificacao in @notificacoes %>
            <hr>
            <li><%= notificacao.conteudo.html_safe %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><a href="#">Todas Notificações</a></li>
          </ul>     
          </li>
					<li><%= link_to 'Mensagens', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
					<li><%= link_to 'Planos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
				<% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<img src="/assets/engine3.png" style=" width: 19px; float: right; margin-top: 15px; margin-right: 20px;">
				<li class="dropdown menu-dropdown">
					<a href="#" class="dropdown-toggle menu-text"
						data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false" style="color: #777; font-size: 16px">
								<% if ! @logged_in %>
									Entrar
								<% else %>
									<%=current_usuario.nome%>
								<% end %>
							</span></a>
					<ul class="dropdown-menu">


						<% if ! @logged_in %>
							<li><%= link_to "Entrar", usuario_session_path %></li>
							<li><%= link_to "Cadastrar", new_usuario_registration_path%></li>

						<% else %>
							<li><%= link_to 'Perfil', usuario_path(current_usuario.id)%></li>
							<li><%= link_to 'Editar Perfil', edit_usuario_path(current_usuario.id) %></li>
							<li><%= link_to 'Sair', destroy_usuario_session_path, :method => :delete  %></li>
						<% end %>
						<li role="separator" class="divider"></li>

						<li><a href="#" class="menu-text">Ajuda</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<%= render template: "layouts/side_menu" %>
<style type="text/css">
  .profile{
    padding-top: 25vh;

  }
</style>
<ol class="breadcrumb col-md-12" style="margin-left: 16.5vw; width: 82vw; text-align: left;">
        <li class="breadcrumb-item">Perfil</li>
        <li class="breadcrumb-item active">Meus Anúncios</li>
  </ol>
<div class="col-md-2"></div>
<div class="col-md-10" style="margin-bottom: 50px;">
    <div class="row col-md-8">
          <div class="row" style="margin-left:0px !important;">
            <div class="col-lg-12" style="text-align: start; margin-bottom: 10px;">
              <h4><b style="color: #8e8e8e;">Meus Anúncios</b></h4>
            </div><!-- col-lg-12 -->
          </div><!-- row -->
          <% if ! @anuncios.nil? %>
            <% @anuncios.each do |anuncio| %>
            	<% @valores = Preco.find_by(anuncio_id: anuncio.id)%>
              <%= link_to(anuncio) do %>
              <div class="col-lg-3" style="margin: 1px 30px; padding: 0;
                border:solid 1px #d2d2d2; background-image: url(/assets/SHOP.png);     height: 50vh;
                border-radius: 5px;
                background-position: 50px 19px;
                background-repeat: no-repeat;
                background-size: 150px;
                width: 40vh;">



                <div class="col-lg-3" style="    text-align: left;
                  margin-top: 27vh;
                  color: #868686;
                  border-top: solid 1px #d2d2d2;
                  width: 100%;
                  padding: 5px 1px 1px 10px;" >
                  <h4 style="color:#868686"><b>R$ <%= (!@valores.nil? ? (anuncio.pretencao == "Vender" ? @valores.preco_venda : (anuncio.pretencao == "Alugar" ? @valores.preco_aluguel : @valores.preco_venda)) : "") %></b></h4>
                  	
                    <p><%= (!@valores.nil? ? (!@valores.preco_ponto.nil? ? ("R$ " + @valores.preco_ponto.to_s + " Ponto") : "") : "") %></p>
                  <p><%= anuncio.area_total %>M² | <%= anuncio.qtd_ambientes %> ambientes</p>
                  <p><%= anuncio.logradouro %> <%= anuncio.cidade %>, <%= anuncio.bairro %></p>
                  <p>  <b><%= anuncio.pretencao %></b></p>
                </div>
                <!-- <p><i class="fa fa-link"></i> Leia mais</p> -->
                <hr>
                <div>
                  <%= link_to "Excluir", anuncio, method: :delete, data: { confirm: 'Ao continuar você exluirá permanentemente todos os dados relacionados à este enúncio. Continuar?' } %>
                  |<%= link_to 'Editar Anúncio', edit_anuncio_path(anuncio) %>
                  |<a href="/precos/new?anuncio=<%=anuncio.id%>">Alterar Preço</a>
                </div>
              </div>

              <% end %>
            <% end %>
            <% else %>
              <h1>
                Não há anúncios.
              </h1>
          <% end %>

    </div><!-- row -->
</div>