<div class="row" id="mensagens">
	<div class="col-md-4 col-md-offset-4">
		<% for mensagem in @mensagens %>
			<% if mensagem.usuario_id == current_usuario.id %>
				<div class="col-md-12 text-right">
					<h3><%= mensagem.conteudo %></h3>				
				</div>
			<% else %>
				<div class="col-md-12">
					<h3><%= mensagem.conteudo %></h3>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= form_for(@mensagem, remote: true) do |f| %>
		<%= f.hidden_field :usuario_id, value: current_usuario.id %>
		<%= f.hidden_field :ChatRoom_id, value: params[:chat_room] %>

		  <div class="field">
		    <label>Mensagem:</label>
		    <%= f.text_area :conteudo %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Enviar", class: "btn" %>
		  </div>
		<% end %>
	</div>	
</div>