<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<% for conversa in @conversas %>
			<a href="/usuario/conversa/<%=conversa.id%>">
				<% if current_usuario.id == conversa.usuario_id %>
					<%= Usuario.find(conversa.usuario2_id).nome %>
				<% else %>
					<%= Usuario.find(conversa.usuario_id).nome %>
				<% end %>
			</a>
		<% end %>
	</div>
</div>