<%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track' => true %>

<style type="text/css">
  .navbar-header{
      background-image: url(/assets/LOGO_AZUL_OFICIAL.png);
      width: 200px;
      background-size: 156px;
      background-repeat: no-repeat;
      background-position: 0px 6px;
    }
</style>
<nav class="navbar navbar-default navbar-menu" id="navegacao" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed btn-color"
      data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color: #777;  width:100%;"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if @logged_in %>
          <li><%= link_to 'Agenda', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
          <li><%= link_to 'Favoritos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
          <li><%= link_to 'Meus Anuncios', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
          <li><%= link_to 'Anunciar' , new_anuncio_path, :class => "menu-text", :style => "color: #777"%></li>
          <li><%= link_to 'Alertas', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
          <li><%= link_to 'Mensagens', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
          <li><%= link_to 'Planos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <img src="/assets/engine3.png" style=" width: 19px; float: right; margin-top: 15px; margin-right: 20px;">
        <li class="dropdown menu-dropdown">
          <a href="#" class="dropdown-toggle menu-text"
            data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false" style="color: #777; font-size: 16px">
                <% if ! @logged_in %>
                  Entrar
                <% else %>
                  <%=current_usuario.nome%>
                <% end %>
              </span></a>
          <ul class="dropdown-menu">


            <% if ! @logged_in %>
              <li><%= link_to "Entrar", usuario_session_path %></li>
              <li><%= link_to "Cadastrar", new_usuario_registration_path%></li>

            <% else %>
              <li><%= link_to 'Perfil', usuario_path(current_usuario.id)%></li>
              <li><%= link_to 'Editar Perfil', edit_usuario_path(current_usuario.id) %></li>
              <li><%= link_to 'Sair', destroy_usuario_session_path, :method => :delete  %></li>
            <% end %>
            <li role="separator" class="divider"></li>

            <li><a href="#" class="menu-text">Ajuda</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <%= render template: "layouts/side_menu" %>

  <style type="text/css">
    .profile{
      padding-top: 25vh;
    }
  </style>

  <ol class="breadcrumb col-md-12" style="margin-left: 16.5vw; width: 82vw; text-align: left;">
        <li class="breadcrumb-item">Perfil</li>
        <li class="breadcrumb-item active">Visualizar</li>
  </ol>
  <div class="col-md-2"></div>


  <!--    Content     -->
  <div class="col-md-10" style="text-align: center; height: 100vh;padding-top: 10vh;">

      <section class="col-md-6">
          <header>
              <h3>Pessoal</h3>
          </header>
          <article>
              <p>
                <strong>Nome:</strong>
                <%= @usuario.nome %>
              </p>

              <p>
                <strong>Data nascimento:</strong>
                <%= @usuario.data_nascimento %>
              </p>

              <p>
                <strong>Sexo:</strong>
                <%= @usuario.sexo %>
              </p>

              <p>
                <strong>Telefone:</strong>
                <%= @usuario.telefone %>
              </p>

              <p>
                <strong>Email:</strong>
                <%= @usuario.email %>
              </p>
          </article>
      </section>
      <section class="col-md-6">
          <header>
              <h3>Endereço</h3>
          </header>
          <article>
              <p>
                <strong>Rua:</strong>
                <%= @usuario.rua %>
              </p>

              <p>
                <strong>Bairro:</strong>
                <%= @usuario.bairro %>
              </p>

              <p>
                <strong>Cidade:</strong>
                <%= @usuario.cidade %>
              </p>

              <p>
                <strong>Estado:</strong>
                <%= @usuario.estado %>
              </p>
          </article>
      </section>
      <div class="col-md-12">
        <center>
          <%= link_to 'Mudar Senha', edit_usuario_registration_path, :class => "btn btn-color", :style => "color: #FFF;" %>
        </center>
      </div>

  </div>
  <!--    END     Content     -->


<div class="col-md-2"></div>
