<%= form_for(anuncio) do |f| %>
  <% if anuncio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anuncio.errors.count, "error") %> prohibited this anuncio from being saved:</h2>
      <ul>
      <% anuncio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<%= javascript_include_tag 'all.js'%>
<%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track' => true %>
<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <script type="text/javascript">
        $( document ).ready(function(){

            Mapa = new Map(document.getElementById("mapa_endereco"), null, null);
            Mapa.V_SetCenterByUserLocation();
            google.maps.event.addListenerOnce(Mapa.map, 'idle', function(){
                var marker = Mapa.SetMarker(Mapa.GetCenter(), true, "Arraste", null, "marcador");
                marker.addListener('dragend', function(){
                    Mapa.V_GetAddress(marker.getPosition().lat(), marker.getPosition().lng());
                });
            });

            document.getElementById("anuncio_cidade").addEventListener("blur", function(){
                var logradouro = document.getElementById("anuncio_logradouro").value;
                var bairro = document.getElementById("anuncio_bairro").value;
                var cidade = document.getElementById("anuncio_cidade").value;
                var numero = document.getElementById("anuncio_numero").value;
                if (logradouro && numero && bairro && cidade) {
                    Mapa.V_UpdateMarker(logradouro, numero, bairro, cidade);
                }
            });



        });
    </script>
    <script type="text/javascript">
        function tipo(tipo){
            console.log(tipo);
            if (tipo == "Ponto Comercial") {
                document.getElementById("ponto").style.display = 'block';
                document.getElementById("sala").style.display = 'none';
                document.getElementById("repasse").style.display = 'none';
            }else if(tipo == "Sala Comercial"){
                document.getElementById("ponto").style.display = 'none';
                document.getElementById("sala").style.display = 'block';
                document.getElementById("repasse").style.display = 'none';
            }else if(tipo == "Repasse de Empresa"){
                document.getElementById("ponto").style.display = 'none';
                document.getElementById("sala").style.display = 'none';
                document.getElementById("repasse").style.display = 'block';
            }
        }
    </script>
    <style type="text/css">
        .green-line{
            background-color: #00802b;
            text-align: center;

        }
        .green-line h4{
            font-weight: bold;
            color: #FFF;
        }

        .propaganda{
            border: solid 1px black;
        }
        .propaganda .direita{
            text-align: right;
        }
        .propaganda .direita h4{
            font-weight: bold;
        }

        #mapa_endereco{
            height: 55vh;
        }
        #caixa_de_busca{
            display: none;

            width: 60%;
            font-size: 125%;
            text-align: center;
        }
        .btn-color{
            font-size: 14px;
        }
    </style>
</head>
<body>
    <%= render template: "layouts/side_menu.html.erb" %>

    <div class="col-md-2"></div>
    <!--    Content     -->
    <div class="col-md-10">
        <!--    Cadastro Genérico   -->
        <!--    Pretenção   -->
        <div class="col-md-12">

          <div class="row" style="margin-left:0px !important;">
            <div class="col-lg-12" style="text-align: start; margin-bottom: 10px;">
              <h4><b style="color: #8e8e8e;">Cadastrar Anuncio</b></h4>
            </div><!-- col-lg-12 -->
          </div><!-- row -->
            <!--    Qual o seu empreendimento?         -->
            <section class="col-md-12">
                <header class="col-md-12">
                    <h4>Qual o seu empreendimento?</h4>
                </header>
                <article class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group col-md-12" data-toggle="buttons">
                                <label class="btn btn-primary btn-lg btn-block btn-color col-md-2" style="width: 13vw;margin-top: 0.75vh;" onclick="tipo('Ponto Comercial')">
                                    <input type="radio" value="Ponto Comercial" name="anuncio[tipo_imovel]" id="anuncio_tipo_imovel_ponto_comercial">Ponto Comercial
                                </label>

                                <label class="btn btn-primary btn-lg btn-block btn-color col-md-2" style="width: 13vw; margin-left: 0.5vw;" onclick="tipo('Sala Comercial')">
                                    <input type="radio" value="Sala Comercial" name="anuncio[tipo_imovel]" id="anuncio_tipo_imovel_sala_comercial">Sala Comercial
                                </label>

                                <label class="btn btn-primary btn-lg btn-block btn-color col-md-2" style="width: 14vw;margin-left: 0.5vw;" onclick="tipo('Repasse de Empresa')">
                                    <input type="radio" value="Repasse de Empresa" name="anuncio[tipo_imovel]" id="anuncio_tipo_imovel_repasse_de_empresa">Repasse de Empresa
                                </label>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <!--    FIM     Pretenção   -->




        <hr>




        <!--   Detalhes do Imóvel    -->
        <div class="col-md-12">
            <section class="col-md-12">
                <header class="col-md-12">
                    <h4>Detalhes do Imóvel:</h4>
                </header>
                <article class="col-md-12">
                    <div class="form-horizontal col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="">Quantos Ambientes?</label>
                            <div class="col-md-4">
                                <%= f.number_field :qtd_ambientes, class: "form-control" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4" for="">Banheiros:</label>
                            <div class="col-md-4">
                                <%= f.number_field :qtd_banheiros, class: "form-control" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4" for="">Área Útil (m²):</label>
                            <div class="col-md-4">
                                <%= f.number_field :area_util, class: "form-control" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4" for="">Área Total (m²):</label>
                            <div class="col-md-4">
                                <%= f.number_field :area_total, class: "form-control" %>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <%= f.text_area :descricao, placeholder: "Aqui você pode informar maiores detalhes sobre as áreas internas do imóvel...", :rows => 4, class: "form-control" %>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <!--    FIM     Detalhes do Imóvel    -->




        <hr>




        <!--    Endereço    -->
        <div class="col-md-12">
            <section class="col-md-12">
                <header>
                    <h4>Qual o endereço?</h4>
                </header>
            </section>

            <!--    Lado do mapa    -->
            <section class="col-md-6">
                <header>
                    <p>Digite nome do Empresarial, Shopping ou Galeria onde está localizado o seu imóvel, ou digite apenas o endereço. Se necessário, arraste o marcador para o local exato do imóvel:</p>
                </header>
                <!--    Mapa de Pesquisa    -->
                <article>

                    <!--    Search Box dentro do mapa   -->
                    <input id="caixa_de_busca" class="controls" type="text" placeholder="Buscar &#128269;" style="">
                    <!--    Div que contem o Mapa   -->
                    <div id="mapa_endereco"></div>

                </article>
            </section>

            <!--    Formulário de Endereço    -->
            <section class="col-md-6">
                <header>
                    <p>Edite o endereço, se necessário. Isso não irá interferir na posição do marcador do mapa ao lado.</p>
                </header>
                <article>
                    <div>
                            <div class="form-group">
                                <%= f.text_field :nome, placeholder: "Nome do Local", class: "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :logradouro, placeholder: "Logradouro", class: "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :numero, placeholder: "Número", class: "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :bairro, placeholder: "Bairro", class: "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :cidade, placeholder: "Cidade", class: "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :estado, placeholder: "Estado", class: "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :cep, placeholder: "CEP", class: "form-control" %>
                            </div>
                            <div class="form-group dropdown">
                                <select class="form-control btn btn-primary dropdown-toggle btn-color" name="anuncio[piso]" id="anuncio_piso">
                                <span class="caret"></span>
                                    <ul class="dropdown-menu">
                                        <li><option value="0">Térreo</option></li>
                                        <li><option value="1">1º Andar</option></li>
                                        <li><option value="2">nº Andar</option></li>
                                    </ul>
                                </select>
                            </div>
                    </div>
                </article>
            </section>
        </div>
        <!--    FIM     Endereço    -->




        <hr>




        <!--    Estacionamento    -->
        <div class="col-md-12">
            <!--    Estacionamento  -->
            <section class="col-md-10">
                <header class="col-md-12">
                    <h4>Como as pessoas podem estacionar?</h4>
                </header>
                <article class="col-md-12">
                    <div class="col-md-5">
                        <div class="btn-group-vertical" data-toggle="buttons">
                            <label class="btn btn-primary btn-lg btn-block btn-color">
                                <input type="checkbox" name="anuncio[estacionamento_rua]" id="anuncio_estacionamento_rua" />Estacionamento na Rua
                            </label>

                            <br>

                            <label class="btn btn-primary btn-lg btn-block btn-color">
                                <input type="checkbox" name="anuncio[estacionamento_privativo]" id="anuncio_estacionamento_privativo" />Estacionamento Privativo

                            </label>

                            <br>

                            <label class="btn btn-primary btn-lg btn-block btn-color">
                                <!-- ATUALIZAR BANCO DE DADOS -->
                                <input type="checkbox" name="anuncio[estacionamento_coletivo]" id="anuncio_estacionamento_coletivo">Estacionamento Coletivo
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Quantidade de Vagas
                                </label>
                                <%= f.number_field :estacionamento_qtd_vagas, class: "form-control" %>

                            </div>
                            <div class="form-group">
                                <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
                                    <%= f.check_box :estacionamento_pago, class: "form-control" %>Pago?
                                </label>
                            </div>


                        </div>
                        <div class="form-group col-md-6">
                            <%= f.text_area :estacionamento_descricao, placeholder: "Aqui você pode informar maiores detalhes sobre estacionamento...", :cols => 100, :rows => 7, class: "form-control" %>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <!--    FIM     Estacionamento    -->




        <hr>




        <!--    Diferenciais  -->
        <div class="col-md-12">
            <h4>Outros diferenciais do seu imóvel</h4>

            <div class="col-md-12" style="border: solid 1px black;">
                <div class="col-md-4">
                    <img src="http://folhadecianorte.com/wp-content/uploads/2014/06/acessibilidade.jpg" height="200vh" width="200px">
                </div>
                <div class="col-md-8" data-toggle="buttons">
                    <p>Seu imóvel está adaptado as necessidades dos cadeirantes com, banheiros adaptados, portas largas, rampas de acesso ou elevadores de acesso, etc.</p>
                    <div class="col-md-12" data-toggle="buttons">
                        <label class="btn btn-primary btn-lg btn-block btn-color col-md-2" style="width: 10vw; margin-top: 0.75vh;">
                            <%= f.radio_button :adaptado, true %>Sim
                        </label>
                        <label class="btn btn-primary btn-lg btn-block btn-color col-md-2" style="width: 10vw; margin-left: 1vw; margin-right: 1vw;">
                            <%= f.radio_button :adaptado, false %>Não
                        </label>

                        <div class="form-group" style="margin-top: 10vh;">
                            <%= f.text_area :adaptado_descricao, placeholder: "Aqui você pode informar maiores detalhes sobre os tipos de adaptações existentes...",  class: "form-control" %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--    FIM     Diferenciais    -->



        <hr>


        <!--        ARQUIVOS        -->
        <div class="col-md-12">
            <section>
                <header>
                    <h4>Arquivos</h4>
                </header>
                <section class="col-md-12">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Fotos</label>
                            <%= f.file_field :fotos, accept: 'image/png,image/gif,image/jpeg,image/jpg', multiple: true %>
                        </div>
                        <div id="previewImages">

                        </div><!--
                        <script type="text/javascript">
                            window.onload = function(){
                                var map = new Mapa;
                                var fileInput = document.getElementById("anuncio_fotos");
                                fileInput.onchange = function(){
                                    map.previewImage(this, document.getElementById("previewImage"));
                                }
                            }
                        </script> -->
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>Vídeo</label>
                            <%= f.file_field :video %>
                        </div>
                    </div>
                </section>
            </section>

        </div>
        <!--    FIM    ARQUIVOS        -->




        <hr>



        <!------------------------------------------------------------------------------------------------------>

        <!--    Repasse de Empresa      -->
        <div id="repasse" style="display: none;">
            <h2>Repasse de Empresa</h2>
            <!--    Carga e Descarga    -->
            <div class="col-md-12">
                <section class="col-md-12">
                    <header class="col-md-12">
                        <h4>Seu imóvel possui uma área para carga e descarga de mercadorias?</h4>
                    </header>
                    <article class="col-md-12">

                        <div class="col-md-2">
                            <div class="form-inline">
                                <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary btn-lg btn-block btn-color" style="-webkit-border-radius: 10px;">
                                            <%= f.radio_button :carga_descarga, true %>Sim
                                        </label>

                                        <label class="btn btn-primary btn-lg btn-block btn-color" style="-webkit-border-radius: 10px;">
                                            <%= f.radio_button :carga_descarga, false %>Não
                                        </label>
                                </div>
                            </div>
                        </div>


                        <!--    Foto Carga e Descarga    -->
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Fotos</label>
                                    <%= f.file_field :carga_descarga_fotos, accept: 'image/png,image/gif,image/jpeg,image/jpg', multiple: true %>
                                </div>
                            </div>
                        </div>

                        <!--    Descrição carga e descarga      -->
                        <div class="col-md-5">
                            <div class="form-group">
                                <%= f.text_area :carga_descarga_descricao, placeholder: "Aqui você pode informar maiores detalhes sobre como pode ser feito o recebimento de mercadorias mesmo que seu imóvel não possua uma áreade carga e descarga...", :cols => 100, :rows => 7, class: "form-control" %>
                            </div>
                        </div>


                    </article>
                </section>
            </div>
            <!--/    FIM     Carga e Descarga    -->

            <!--    tipo_negocio    segmento    idade_empresa    motivo_venda   -->
            <div class="col-md-12">
                <!-- tipo_negocio -->
                <div class="col-md-3 form-group">
                    <label>Tipo de Negócio</label>
                    <select name="anuncio[tipo_negocio]" id="anuncio_tipo_negocio" class="form-control">
                        <option>ALTERAR</option>
                        <option value="Tipo 1">Tipo 1</option>
                    </select>
                </div>
                <!--/ tipo_negocio -->

                <!-- segmento -->
                <div class="col-md-3 form-group">
                    <label>Segmento do Negócio</label>
                    <select name="anuncio[segmento]" id="anuncio_segmento" class="form-control">
                        <option>ALTERAR</option>
                        <option value="Segmento 1">Segmento 1</option>
                    </select>                    
                </div>
                <!--/ segmento -->

                <!-- idade_empresa -->
                <div class="col-md-3 form-group">
                    <label>Idade da Empresa</label>
                    <input type="number" name="anuncio[idade_empresa]" id="anuncio_idade_empresa" placeholder="Idade da Empresa" class="form-control"/>                
                </div>
                <!--/ idade_empresa -->

                <!-- motivo_venda -->
                <div class="col-md-3 form-group">
                    <label>Motivo da Venda</label>
                    <select name="anuncio[motivo_venda]" id="anuncio_motivo_venda" class="form-control">
                        <option>ALTERAR</option>
                        <option value="Motivo 1">Motivo Venda 1</option>
                    </select>                    
                </div>
                <!--/ motivo_venda -->

                <!-- qtd_funcionarios -->
                <div class="col-md-3 form-group">
                    <label>Quantidade de Funcionários</label>
                    <input type="number" name="anuncio[qtd_funcionarios]" id="anuncio_qtd_funcionarios" placeholder="Idade da Empresa" class="form-control"/>                
                </div>
                <!--/ qtd_funcionarios -->


            </div>
            <!--/    tipo_negocio    segmento    idade_empresa    motivo_venda   -->

            <!--    faturamento_bruto    lucro_medio    capital_giro    valor_estoque    -->
            <div class="col-md-12">
                <!-- faturamento_bruto -->
                <div class="col-md-3 form-group">
                    <label>Faturamento Bruto <small>(R$)</small></label>
                    <input type="number" name="anuncio[faturamento_bruto]" id="anuncio_faturamento_bruto" class="form-control" placeholder="Faturamento Bruto" />
                </div>
                <!--/ faturamento_bruto -->

                <!-- lucro_medio -->
                <div class="col-md-3 form-group">
                    <label>Lucro Médio <small>(R$)</small></label>
                    <input type="number" name="anuncio[lucro_medio]" id="anuncio_lucro_medio" class="form-control" placeholder="Lucro Médio">
                </div>
                <!--/ lucro_medio -->

                <!-- capital_giro -->
                <div class="col-md-3 form-group">
                    <label>Capital de Giro <small>(R$)</small></label>
                    <input type="number" name="anuncio[capital_giro]" id="anuncio_capital_giro" class="form-control" placeholder="Capital de Giro" />                
                </div>
                <!--/ capital_giro -->

                <!-- valor_estoque -->
                <div class="col-md-3 form-group">
                    <label>Valor Estoque <small>(R$)</small></label>
                    <input type="number" name="anuncio[valor_estoque]" id="anuncio_valor_estoque" class="form-control" placeholder="Valor de Estoque">
                </div>
                <!--/ valor_estoque -->
            </div>
            <!--/    faturamento_bruto    lucro_medio    capital_giro    valor_estoque   -->
        </div>
        <!--/    Repasse de Empresa      -->

        <!--    Ponto Comercial     -->
        <div id="ponto" style="display: none;">
            <h2>Ponto Comercial</h2>
            <!--    pretencao (venda ou aluguel)    -->
            <section class="col-md-12">
                <header class="col-md-12">
                    <h4>O que você pretende?</h4>
                </header>
                <article class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group" data-toggle="buttons">

                                <label class="btn btn-primary btn-lg btn-block btn-color col-md-2" style="width: 15vw; margin-top: 0.75vh;">
                                    <%= f.radio_button :pretencao, 'Alugar' %>Alugar
                                </label>

                                <label class="btn btn-primary btn-lg btn-block btn-color col-md-2" style="width: 15vw; margin-left: 2vw;">
                                    <%= f.radio_button :pretencao, 'Vender' %>Vender
                                </label>

                                <label class="btn btn-primary btn-lg btn-block btn-color col-md-2" style="width: 15vw; margin-left: 2vw;">
                                    <%= f.radio_button :pretencao, 'Vender ou Alugar' %>Vender ou Alugar
                                </label>
                        </div>
                    </div>
                </article>
            </section>
            <!--/    pretencao (venda ou aluguel)    -->
            <!--    Carga e Descarga    -->
            <div class="col-md-12">
                <section class="col-md-12">
                    <header class="col-md-12">
                        <h4>Seu imóvel possui uma área para carga e descarga de mercadorias?</h4>
                    </header>
                    <article class="col-md-12">

                        <div class="col-md-2">
                            <div class="form-inline">
                                <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary btn-lg btn-block btn-color" style="-webkit-border-radius: 10px;">
                                            <%= f.radio_button :carga_descarga, true %>Sim
                                        </label>

                                        <label class="btn btn-primary btn-lg btn-block btn-color" style="-webkit-border-radius: 10px;">
                                            <%= f.radio_button :carga_descarga, false %>Não
                                        </label>
                                </div>
                            </div>
                        </div>


                        <!--    Foto Carga e Descarga    -->
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Fotos</label>
                                    <%= f.file_field :carga_descarga_fotos, accept: 'image/png,image/gif,image/jpeg,image/jpg', multiple: true %>
                                </div>
                            </div>
                        </div>

                        <!--    Descrição carga e descarga      -->
                        <div class="col-md-5">
                            <div class="form-group">
                                <%= f.text_area :carga_descarga_descricao, placeholder: "Aqui você pode informar maiores detalhes sobre como pode ser feito o recebimento de mercadorias mesmo que seu imóvel não possua uma áreade carga e descarga...", :cols => 100, :rows => 7, class: "form-control" %>
                            </div>
                        </div>


                    </article>
                </section>
            </div>
            <!--/    FIM     Carga e Descarga    -->

            

            
        </div>
        <!--/    Ponto Comercial     -->

        <!--    Sala Comercial      -->
        <div id="sala" style="display: none;">
            <h2>Sala Comercial</h2>
            <!--    pretencao (venda ou aluguel)    -->
            <section class="col-md-12">
                <header class="col-md-12">
                    <h4>O que você pretende?</h4>
                </header>
                <article class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group" data-toggle="buttons">

                                <label class="btn btn-primary btn-lg btn-block btn-color col-md-2" style="width: 15vw; margin-top: 0.75vh;">
                                    <%= f.radio_button :pretencao, 'Alugar' %>Alugar
                                </label>

                                <label class="btn btn-primary btn-lg btn-block btn-color col-md-2" style="width: 15vw; margin-left: 2vw;">
                                    <%= f.radio_button :pretencao, 'Vender' %>Vender
                                </label>

                                <label class="btn btn-primary btn-lg btn-block btn-color col-md-2" style="width: 15vw; margin-left: 2vw;">
                                    <%= f.radio_button :pretencao, 'Vender ou Alugar' %>Vender ou Alugar
                                </label>
                        </div>
                    </div>
                </article>
            </section>
            <!--/    pretencao (venda ou aluguel)    -->

            
        </div>
        <!--/    Sala Comercial      -->


        <!--    Valores e Propaganda    -->
        <!-- <div class="col-md-12">
            <!--    Valores    --
            <section class="col-md-6">
                <header class="col-md-12">
                    <h4>Quais os valores?</h4>
                </header>
                <article class="col-md-12">
                    <div class="form-horizontal col-md-12">
                        



                        <!-- <div class="form-group">
                            <label class="control-label col-md-4" for=""></label>
                            <div class="col-md-4">
                                <textarea class="form-control" rows="7" id="comment" placeholder="Aqui você pode informar maiores detalhes sobre quais condições você está disposto a negociar no valor do ponto."></textarea>
                            </div>
                        </div> --

                    </div>
                </article>
            </section>

            <!--    Propaganda    --
            <section class="col-md-6 propaganda">
                <header class="col-md-12">
                    <h4>Precisa de ajuda para definir os valores?</h4>
                </header>
                <article class="col-md-12">
                    <section class="col-md-12">
                        <header class="col-md-12">
                            <p>Podemos lhe informar os valores médios negociados na região onde seu imóvel está localizado. Nosso <b>Relatório de Mercado</b> tem as seguintes informações:</p>
                        </header>
                        <article class="col-md-12">
                            <ul>
                                <li>Valor médio de aluguel</li>
                                <li>Valor médio de Venda</li>
                                <li>Valor médio de Condomínio</li>
                                <li>Valor médio de Ponto Comercial</li>
                                <li>Quantos imóveis com as mesmas característicasdo seu estão disponíveis na região</li>
                                <li>Valores detalhados dos 10 imóveis mais parecidos com o seu.</li>
                            </ul>
                        </article>

                        <section class="col-md-12 direita">
                            <header>
                                <h4>Adquira por R$ 65,00 </h4>
                            </header>
                            <article>
                                <p>Adquirindo o relatório de mercado seu anuncio ficará em destaque por 1 mês grátis.</p>
                            </article>
                        </section>
                    </section>
                </article>
            </section>
        </div> -->
        <!--    FIM     Valores e Propaganda    -->


        <hr>


        <div class="actions col-md-12" style="margin-top: 5vh;">
            <center>
                <h4>
                   <label>
                        <input type="checkbox" name="">Li e Aceito os <a href="">termos do contrato</a> para publicação do meu anuncio.
                    </label>
                </h4>

            </center>
            <center>
                <%= f.submit 'Continuar', :class => "btn-primary btn-lg btn-color" %>
            </center>
        </div>

    </div>




</body>
</html>
<% end %>