<%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "all" %>
<!DOCTYPE html>
<html>
<head>
  <title>Cadastrar</title>
  <script type="text/javascript">
    window.onload = function(){
      var div = document.getElementById('map_canvas');
      var map_options = {
          zoom: 16,
          mapTypeControl: false,
          zoomControl: false,
          scaleControl: false,
          streetViewControl: false,
          fullscreenControl: false
        };
      var Mapa = new Map(div, null, {lat: -8.0632668, lng: -34.8728647}, map_options);
      window.Mapa = Mapa;

      var filtros = document.getElementById("filtros");
      Mapa.map.controls[google.maps.ControlPosition.TOP_LEFT].push(filtros);

      google.maps.event.addListenerOnce(Mapa.map, 'idle', function(){
        var url = window.location.href;
        var url_one = url.split("?");
        var final_url = url_one[0] + ".json?" + url_one[1];
        window.Mapa.GetTooltips(final_url);
      });

      
    }
    /*window.onload = function(){
        window.MapaBusca = new Mapa;


        var div = document.getElementById('map_canvas');
        window.MapaBusca.setMapa(div);

        var busca = document.getElementById('search');
        window.MapaBusca.setCaixaBusca(busca);
        //MapaBusca.getLocal();
        //MapaBusca.setKml();

        google.maps.event.addListenerOnce(MapaBusca.mapa, 'idle', function(){
            var div = document.getElementById("filtros");
            MapaBusca.mapa.controls[google.maps.ControlPosition.TOP_RIGHT].push(div);
            div.style.display = 'block';
            div.style.marginTop = '10px';
            div.style.width = "50vw";
            div.style.marginLeft = "150vw";

        });

        /*      Gamby mil grau pra poder deixar só os marcadores importantes    *
        var pos1 = new google.maps.LatLng(-8.0538900, -34.8811100);
        window.MapaBusca.setCentro(pos1);
        window.MapaBusca.getLocal()
        //window.MapaBusca.setMarcadores(null, pos1, "");
        //window.MapaBusca.deleteMarcadores();
        var url = window.location.href;
        var url_one = url.split("?");
        var final_url = url_one[0] + ".json?" + url_one[1];
        window.MapaBusca.getTooltips(final_url);
      }*/
  </script>
  <style type="text/css">
        .heart {
          background: url(<%= image_url("web_heart_animation.png") %>);
          background-position: left;
          background-repeat: no-repeat;
          height: 50px;
          width: 50px;
          cursor: pointer;
          position: absolute;
          background-size:1450px;
          z-index: 100;
        }
        .heart:hover
        {
          background-position: right;
        }

        .new_like{
          /* height: 50px; */
          cursor: pointer;
          position: relative;
          background-size: 1450px;
          z-index: 100;
          float: right;
          margin-right: 40px;
          margin-top: 3px;


        }

        .new_like input:focus{
          box-shadow: 0 0 0 0;
          border: 0 none;
          outline: 0;
        }



        @-webkit-keyframes heartBlast
        {
          0% {background-position: left;}
          100% {background-position: right;}
        }

        @keyframes heartBlast
        {
          0% {background-position: left;}
          100% {background-position: right;}
        }

        .heartAnimation
        {
          -webkit-animation-name: heartBlast;
          animation-name: heartBlast;
          -webkit-animation-duration: .8s;
          animation-duration: .8s;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
          -webkit-animation-timing-function: steps(28);
          animation-timing-function: steps(28);
          background-position: right;
        }
  </style>

  <script type="text/javascript">
    /*var Utils = new Utils;
    Utils.like();*/
    var filter_click = function(input){
      if(input.id == "transito"){
        window.Mapa.V_SetTrafficLayer();
        //alert("Hello World");
      }else if(input.id == "onibus"){
        window.Mapa.V_SetBusStop(input.checked);
      }
    }
  </script>


  <style type="text/css">
        #custom-search-input{
          margin-top: 0;
          margin-left: 0;
          background-color: #FFF;
          width: 50vw;
          height: 7vh;
          -webkit-border-radius : 0;
          padding: 0;
        }

        .input-group{
          width: 38vw;
          margin: 0;
        }

        .navbar-header{
          background-image: url(/assets/LOGO_AZUL_OFICIAL.png);
          width: 200px;
          background-size: 156px;
          background-repeat: no-repeat;
          background-position: 0px 6px;
        }

        .each-anuncio:first-child{
          background-color: yellow;
          margin-top: 5vh;
        }

        .dropdown-menu li{
          font-size: 12px;
        }

        .dropdown-menu{
          padding: 5px;
        }
  </style>
</head>
<body>

  <nav class="navbar navbar-default navbar-menu" id="navegacao" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed btn-color"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color: #777;  width:100%;"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if @logged_in %>
            <li><%= link_to 'Agenda', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
            <li><%= link_to 'Favoritos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
            <li><%= link_to 'Meus Anuncios', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
            <li><%= link_to 'Anunciar' , new_anuncio_path, :class => "menu-text", :style => "color: #777"%></li>
            <li><%= link_to 'Alertas', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
            <li><%= link_to 'Mensagens', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
            <li><%= link_to 'Planos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <img src="/assets/engine3.png" style=" width: 19px; float: right; margin-top: 15px; margin-right: 20px;">
          <li class="dropdown menu-dropdown">
            <a href="#" class="dropdown-toggle menu-text"
              data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false" style="color: #777; font-size: 16px">
                  <% if ! @logged_in %>
                    Entrar
                  <% else %>
                    <%=current_usuario.nome%>
                  <% end %>
                </span></a>
            <ul class="dropdown-menu">


              <% if ! @logged_in %>
                <li><%= link_to "Entrar", usuario_session_path %></li>
                <li><%= link_to "Cadastrar", new_usuario_registration_path%></li>

              <% else %>
                <li><%= link_to 'Perfil', usuario_path(current_usuario.id)%></li>
                <li><%= link_to 'Editar Perfil', edit_usuario_path(current_usuario.id) %></li>
                <li><%= link_to 'Sair', destroy_usuario_session_path, :method => :delete  %></li>
              <% end %>
              <li role="separator" class="divider"></li>

              <li><a href="#" class="menu-text">Ajuda</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



<!--    DIV searchbox and Filters    -->
<div class="col-md-12">
    <%= form_tag busca_url,  :method => 'get' do %>
    <input type="hidden" name="tipo" id="tipo", value="<%= params[:tipo] %>">
    <div class="container_searchbox col-md-5"> <!-- style="margin: 6px 125px 5px -17px;"> -->
      <div id="custom-search-input">
        <div class="input-group">
              <%= text_field_tag :search, params[:search], :class => 'form-control input-lg search_input', :placeholder => "Bairro, Endereço ou código do anuncio" %>
              <span class="input-group-btn">
                  <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-info btn-lg btn-color' %>
              </span>
        </div>
      </div>
    </div>


    <!-- Div for filters  -->

    <% if params[:tipo_imovel] == 'Ponto Comercial' %>

    <% elsif params[:tipo_imovel] == 'Sala Comercial' %>

    <% elsif params[:tipo_imovel] == 'Repasse de Empresa' %>

    <% end %>


      <div class="div-filters col-md-7" style="    padding-top: 2vh;">

          <!-- Alugar, Vender e Vender ou Alugar-->
          <div class="dropdown div-inline" style="padding-right: 2vh;">
            <button class="btn btn-primary dropdown-toggle btn-color" type="button" data-toggle="dropdown">Pretenção
            <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown_with_checkbox">
              <li>
                  <%= radio_button_tag :pretencao, 'Alugar',
                  checked = (true if params[:pretencao] == 'Alugar') %>Alugar
              </li>
              <li>
                  <%= radio_button_tag :pretencao, 'Vender',
                  checked = (true if params[:pretencao] == 'Vender') %>Vender
              </li>
              <li>
                  <%= radio_button_tag :pretencao, 'Vender ou Alugar',
                  checked = (true if params[:pretencao] == 'Vender ou Alugar') %>Vender ou Alugar
              </li>
            </ul>
          </div>

          <!--  Valores   -->
          <% if params[:pretencao] %>
              <div class="dropdown div-inline" style="padding-right: 2vh;">
                <button class="btn btn-primary dropdown-toggle btn-color" type="button" data-toggle="dropdown">Valor de <%=params[:pretencao]%>
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>
                      <label>Mínimo</label>
                      <br>
                      <%= number_field_tag :preco_min, params[:preco_min], placeholder: "R$100,00" %>
                      <%#max: params[:aluguel_max],%>
                  </li>
                  <li>
                      <label>Máximo</label>
                      <br>
                      <%= number_field_tag :preco_max, params[:preco_max], placeholder: "R$10000,00" %>
                      <%#max: params[:aluguel_min],%>
                  </li>
                </ul>
              </div>
          <% end %>

          <div class="dropdown div-inline" style="padding-right: 2vh;">
            <button class="btn btn-primary dropdown-toggle btn-color" type="button" data-toggle="dropdown">Metros Quadrados
            <span class="caret"></span></button>
            <ul class="dropdown-menu">

              <li>
                  <label>De</label>
                  <br>
                  <%= text_field_tag :area_min, params[:area_min], placeholder: "60M²" %>
              </li>
              <li>
                  <label>Até</label>
                  <br>
                  <%= text_field_tag :area_max, params[:area_max], placeholder: "1000M²" %>
              </li>
            </ul>
          </div>
      </div>
    <% end %>
</div>

  <div id="content">
    <!--    Mapa    -->
    <div class="col-md-6  no_padding-margin" style="margin-left: 1vw; margin-right: -2vw; margin-top: 1vw">
      <div id="map_canvas" style="width: 100%; height: 80vh;">
      </div>
    </div>

    <!--  Side bar com os resultados das pesquisas    -->
    <div class="col-md-6 no_padding-margin div-overflow" style="background-color: #ececec;
    margin-left:25px;
    width: 100vh;">

      <div class="row" style="    margin-left: 0px;   height: 55px;
        background-color: #fff; padding-left: 10px; padding-top: 10px;  margin-bottom: 10px;">
        <h4 style="color:#6f6f6f"> <%= params[:search] %> </h4>
        <h5 style="color:#8e8e8e"><% if @result.present? %>Quantidade de Pontos: <%= @result.length %> <% end %></h5>
      </div>


      <div class="row" style="margin-top:15px;">
      <% if ! @anuncios.nil? %>
        <% @anuncios.each do |anuncio| %>
        <% @valores = Preco.find_by(anuncio_id: anuncio.id)%>
          <script type="text/javascript">
            $('body').on("click", '#new_like<%=anuncio.id%>', function(e) {
                e.preventDefault();
                var valuesToSubmit = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'), //sumbits it to the given url of the form
                    data: valuesToSubmit,
                    dataType: "JSON", // you want a difference between normal and ajax-calls, and json is standard
                    success: function(json){
                        $(this).addClass("heartAnimation").attr("rel","unlike");
                        //console.log("success", json);
                    }
                })
                return false; // prevents normal behaviour
            });
          </script>

            <%= link_to(anuncio) do %>
            <div class="col-lg-3" style="margin: 1px 30px; padding: 0;
              border:solid 1px #d2d2d2; background-image: url(/assets/SHOP.png);     height: 50vh;
              border-radius: 5px;
              background-position: 50px 19px;
              background-repeat: no-repeat;
              background-size: 150px;
              width: 40vh; background-color: #fff;">

              <%= form_for(Like.new, :remote => true, :html => { :id => "new_like#{anuncio.id}" }) do |f| %>
                  <%= f.hidden_field :anuncios_id, value: anuncio.id %>

                  <% @anuncios_like.each_with_index do |like, i| %>
                      <% if like.anuncios_id == anuncio.id %>
                          <%= f.submit nil, :value => "", :class => "heart heartAnimation", :rel => "unlike", :style => "z-index: 110; position: absolute; border: none;" %>
                        <% break %>
                      <% elsif  i == @anuncios_like.length - 1 %>
                          <%= f.submit nil, :value => "", :class => "heart", :rel => "like", :style => "z-index: 110; position: absolute; border: none;" %>
                      <% end %>
                  <% end %>
                  <% if @anuncios_like.length == 0 %>
                    <%= f.submit nil, :value => "", :class => "heart", :rel => "like", :style => "z-index: 110; position: absolute; border: none;" %>
                  <% end %>

              <% end %>

              <div class="col-lg-3" style="    text-align: left;
                margin-top: 27vh;
                color: #868686;
                border-top: solid 1px #d2d2d2;
                width: 100%;
                padding: 5px 1px 1px 10px;"  id="<%= anuncio.nome %>">
                <h4 style="color:#868686"><b>R$ <%= (!@valores.nil? ? (anuncio.pretencao == "Vender" ? @valores.preco_venda : (anuncio.pretencao == "Alugar" ? @valores.preco_aluguel : @valores.preco_venda)) : "") %></b></h4>
                    
                    <p><%= (!@valores.nil? ? (!@valores.preco_ponto.nil? ? ("R$ " + @valores.preco_ponto.to_s + " Ponto") : "") : "") %></p>
                  <p><%= anuncio.area_total %>M² | <%= anuncio.qtd_ambientes %> ambientes</p>
                  <p><%= anuncio.logradouro %> <%= anuncio.cidade %>, <%= anuncio.bairro %></p>
                   <p>  <b><%= anuncio.pretencao %></b></p>
              </div>
              <!-- <p><i class="fa fa-link"></i> Leia mais</p> -->
            </div>
          <% end %>


        <% end %>
        <% else %>
          <h1>
            Não há anúncios.
          </h1>
      <% end %>


      </div>


    </div>


<script type="text/javascript">
    $(document).ready(function(e){
        $(".img-check").click(function(){
          $(this).toggleClass("check");
        });
    });
  </script>
  <style type="text/css">
    .check{
        opacity:0.5;
    }
    .img-thumbnail {
        cursor: pointer;
        border: none;
        display: inline-block;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
  </style>

    <!--  Dentro do Mapa    -->
    <!--    Tipos      -->
        <div id="filtros" class="div-inline" style="background-color: #FFF; padding: 0; margin-top: 2px; margin-left: 2px;" >
            <ul class="list-inline" style="list-style: none; margin: 0; padding:2px;">
                <li class="list-group-item" style="padding: 0; border: none;" >
                  <label class="col-md-2" id="pt_comercial" style="padding: 0;">
                    <img src="assets/newIcons/01_POPULACAO.png"  height="60px" width="60px" class="img-thumbnail img-check">
                    <input type="checkbox" class="hidden" id="populacao" onclick="filter_click(this)" />
                  </label>
                  
                    <!-- <span class="pull-left">
                        População
                    </span>

                    <span class="pull-right">
                        <input class="saibaonde-toggle saibaonde-input" id="populacao" onclick="filter_click(this)" type="checkbox">
                    </span>

                    <div class="clearfix"></div> -->
                </li>
                <li class="list-group-item" style="padding: 0; border: none;" >
                  <label class="col-md-2" id="pt_comercial" style="padding: 0;">
                    <img src="assets/newIcons/02 RENDA.png"  height="60px" width="60px" class="img-thumbnail img-check">
                    <input type="checkbox" class="hidden" id="renda" onclick="filter_click(this)" />
                  </label>
                    <!-- <span class="pull-left">
                        Renda
                    </span>

                    <span class="pull-right">
                        <input class="saibaonde-toggle saibaonde-input" id="income" onclick="filter_click(this)" type="checkbox">
                    </span>

                    <div class="clearfix"></div> -->
                </li>
                <li class="list-group-item" style="padding: 0; border: none;" >
                  <label class="col-md-2" id="pt_comercial" style="padding: 0;">
                    <img src="assets/newIcons/03 CARRO.png"  height="60px" width="60px" class="img-thumbnail img-check">
                    <input type="checkbox" class="hidden" id="transito" onclick="filter_click(this)"/>
                  </label>
                    <!-- <span class="pull-left">
                        Trânsito
                    </span>

                    <span class="pull-right">
                        <input class="saibaonde-toggle saibaonde-input" id="transit" onclick="filter_click(this)" type="checkbox">
                    </span>

                    <div class="clearfix"></div> -->
                </li>
                <li class="list-group-item" style="padding: 0; border: none;" >
                <label class="col-md-2" id="pt_comercial" style="padding: 0;">
                    <img src="assets/newIcons/04 BUS.png"  height="60px" width="60px" class="img-thumbnail img-check">
                    <input type="checkbox" class="hidden" id="onibus" onclick="filter_click(this)"/>
                  </label>
                    <!-- <span class="pull-left">
                        Ônibus
                    </span>

                    <span class="pull-right">
                        <input class="saibaonde-toggle saibaonde-input" id="bus" onclick="filter_click(this)" type="checkbox">
                    </span>

                    <div class="clearfix"></div> -->
                </li>
                <li class="list-group-item" style="border: none;">
                  <div class="col-md-12" style="border: solid #AAA 1px">
                    <input type="text" name="" placeholder="Pesquise por seguimento">
                    <span class="glyphicon glyphicon-search pull-right" style="margin-top: 5px; cursor: pointer;"></span>
                  </div>
                    
                </li>
            </ul>
        </div>

  </div>

</body>
</html>