<%= javascript_include_tag 'utils.js'%>
<%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track' => true %>
<!DOCTYPE html>
<html>
<head>
	<title>Cadastro</title>
	<script type="text/javascript">
		$( document ).ready(function(){

			var mapa = new Mapa;
			var div = document.getElementById("mapa_endereco");
			mapa.setMapa(div);
			mapa.getLocal();
			var caixa = document.getElementById("caixa_de_busca");
			mapa.setCaixaBusca(caixa);			

		});
	</script>
	<style type="text/css">
		.green-line{
			background-color: #00802b;
			text-align: center;
			
		}
		.green-line h3{
			font-weight: bold;
			color: #FFF;
		}

		.propaganda{
			border: solid 1px black;
		}
		.propaganda .direita{
			text-align: right;
		}
		.propaganda .direita h3{
			font-weight: bold;
		}

		#mapa_endereco{
			height: 55vh;
		}
		#caixa_de_busca{
			display: none;

			width: 60%;
			font-size: 125%;
			text-align: center;
		}
	</style>
	<style type="text/css">
		.navbar-header{
	      background-image: url(/assets/LOGO_AZUL_OFICIAL.png);
	      width: 200px;
	      background-size: 156px;
	      background-repeat: no-repeat;
	      background-position: 0px 6px;
	    }
	</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-menu" id="navegacao" >
	    <div class="container-fluid">
	      <!-- Brand and toggle get grouped for better mobile display -->
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed btn-color"
	        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/" style="color: #777"></a>
	      </div>

	      <!-- Collect the nav links, forms, and other content for toggling -->
	      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	          <li><a href="/" class="menu-text" style="color: #777">Início </a></li>
	          <% if @logged_in %>
	            <li><%= link_to 'Meus Pontos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #777"%></li>
	            <li><%= link_to 'Anunciar' , new_anuncio_path, :class => "menu-text", :style => "color: #777"%></li>
	          <% end %>
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	          <img src="/assets/engine3.png" style=" width: 19px; float: right; margin-top: 15px; margin-right: 20px;">
	          <li class="dropdown menu-dropdown">
	            <a href="#" class="dropdown-toggle menu-text"
	              data-toggle="dropdown" role="button" aria-haspopup="true"
	                aria-expanded="false" style="color: #777; font-size: 16px">
	                  <% if ! @logged_in %>
	                    Entrar
	                  <% else %>
	                    <%=current_usuario.nome%>
	                  <% end %>
	                </span></a>
	            <ul class="dropdown-menu">


	              <% if ! @logged_in %>
	                <li><%= link_to "Entrar", usuario_session_path %></li>
	                <li><%= link_to "Cadastrar", new_usuario_registration_path%></li>

	              <% else %>
	                <li><%= link_to 'Perfil', usuario_path(current_usuario.id)%></li>
	                <li><%= link_to 'Editar Perfil', edit_usuario_path(current_usuario.id) %></li>
	                <li><%= link_to 'Sair', destroy_usuario_session_path, :method => :delete  %></li>
	              <% end %>
	              <li role="separator" class="divider"></li>

	              <li><a href="#" class="menu-text">Ajuda</a></li>
	            </ul>
	          </li>
	        </ul>
	      </div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
	</nav>
	<!--	Linha verde		-->
	<div class="col-md-12 green-line">
		<h3>Cadastro de Anúncio</h3>
	</div>

	<!--	Pretenção	-->
	<div class="col-md-12">
		<!--	O que você pretende?    -->
		<section class="col-md-4">
			<header class="col-md-12">
				<h3>O que você pretende?</h3>
			</header>
			<article class="col-md-12">
				<form class="form-inline">
					<div class="form-group" data-toggle="buttons">
						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :pretencao, 'Repassar_Ponto' %>Repassar Ponto
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :pretencao, 'Alugar' %>Alugar
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color  col-md-2">
						       	<%= f.radio_button :pretencao, 'Vender' %>Vender
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :pretencao, 'Vender_ou_Alugar' %>Vender ou Alugar
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :pretencao, 'Repassar_Empresa' %>Repassar Empresa
						    </label>
					</div>					
				</form>
			</article>
		</section>


		<!--	Que tipo de imóvel? 		-->
		<section class="col-md-4">
			<header class="col-md-12">
				<h3>Que tipo de imóvel?</h3>
			</header>
			<article class="col-md-12">
				<form class="form-inline">
					<div class="form-group" data-toggle="buttons">
						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :tipo_imovel, 'Sala_Comercial' %>Sala Comercial
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :tipo_imovel, 'Casa' %>Casa
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color  col-md-2">
						       	<%= f.radio_button :tipo_imovel, 'Quiosque' %>Quiosque
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :tipo_imovel, 'Loja' %>Loja
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :tipo_imovel, 'Outros' %>Outros
						    </label>
					</div>					
				</form>
			</article>
		</section>

		<!--	Onde fica?	-->
		<section class="col-md-4">
			<header class="col-md-12">
				<h3>Onde fica?</h3>
			</header>
			<article class="col-md-12">
				<form class="form-inline">
					<div class="form-group" data-toggle="buttons">
						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :local, 'Empresarial' %>Empresarial
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :local, 'Rua' %>Rua
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color  col-md-2">
						       	<%= f.radio_button :local, 'Shopping' %>Shopping
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :local, 'Galeria' %>Galeria
						    </label>

						    <label class="btn btn-primary btn-lg btn-block btn-color col-md-2">
						       	<%= f.radio_button :local, 'Outros' %>Outros
						    </label>
					</div>					
				</form>
			</article>
		</section>
	</div>	
	<!--	FIM 	Pretenção	-->



	<hr>



	<!--	Endereço	-->
	<div class="col-md-12">
		<section class="col-md-12">
			<header>
				<h3>Qual o endereço?</h3>
			</header>
		</section>

		<!--	Lado do mapa    -->
		<section class="col-md-6">
			<header>
				<p>Digite nome do Empresarial, Shopping ou Galeria onde está localizado o seu imóvel, ou digite apenas o endereço. Se necessário, arraste o marcador para o local exato do imóvel:</p>
			</header>
			<!--	Mapa de Pesquisa	-->
			<article>

				<!--	Search Box dentro do mapa 	-->
				<input id="caixa_de_busca" class="controls" type="text" placeholder="Buscar &#128269;" style="">
				<!--	Div que contem o Mapa 	-->
				<div id="mapa_endereco"></div>

			</article>
		</section>

		<!--	Formulário de Endereço    -->
		<section class="col-md-6">
			<header>
				<p>Edite o endereço, se necessário. Isso não irá interferir na posição do marcador do mapa ao lado.</p>
			</header>
			<article>
				<form>
					  	<div class="form-group">
					  		<%= f.text_field :nome, placeholder: "Nome do Local", class: "form-control" %>
					  	</div>
					  	<div class="form-group">
					    	<%= f.text_field :logradouro, placeholder: "Logradouro", class: "form-control" %>
					  	</div>
					  	<div class="form-group">
					    	<%= f.text_field :numero, placeholder: "Número", class: "form-control" %>
					  	</div>
					  	<div class="form-group">
					  		<%= f.text_field :bairro, placeholder: "Bairro", class: "form-control" %>
					  	</div>
					  	<div class="form-group">
					  		<%= f.text_field :cidade, placeholder: "Cidade", class: "form-control" %>
					  	</div>
					  	<div class="form-group">
					  		<%= f.text_field :estado, placeholder: "Estado", class: "form-control" %>
					  	</div>
					  	<div class="form-group">
					  		<%= f.text_field :cep, placeholder: "CEP", class: "form-control" %>
					  	</div>
					  	<div class="form-group dropdown">
						  	<select class="form-control btn btn-primary dropdown-toggle btn-color" id="">
						  	<span class="caret"></span></button>
						      	<ul class="dropdown-menu">
						      		<%= f.select(:tipo_imovel, options_for_select([["Dollar", "$"], ["Kroner", "DKK"]]))%>
						      		<!--	Analisar Possibilidade de Droplist  	-->
						        	<li><option>Térreo</option></li>
						        	<li><option>1º Andar</option></li>
						        	<li><option>nº Andar</option></li>
						      	</ul>
						  	</select>
						</div>
					  	
					</form>
			</article>
		</section>
	</div>
	<!--	FIM 	Endereço	-->



	<hr>



	<!--	Estacionamento e Carga e Descarga    -->
	<div class="col-md-12">
		<!--	Estacionamento	-->
		<section class="col-md-6">
			<header class="col-md-12">
				<h3>Estacionamento?</h3>
			</header>
			<article class="col-md-12">
				<div class="col-md-6">
					<div class="btn-group-vertical" data-toggle="buttons">
						<label class="btn btn-primary btn-lg btn-block btn-color">
							<%= f.check_box :estacionamento_rua %>Permitido Estacionar na Rua
						</label>

						<br>

						<label class="btn btn-primary btn-lg btn-block btn-color">
						    <%= f.check_box :estacionamento_privativo %>Estacionamento Privativo

						</label>

						<br>

						<label class="btn btn-primary btn-lg btn-block btn-color">
							<!-- ATUALIZAR BANCO DE DADOS -->
						    <input type="checkbox" name="tipo" autocomplete="off">Estacionamento Coletivo
						</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<%= f.text_area :estacionamento_descricao, placeholder: "Maiores detalhes sobre o estacionamento", :rows => 7 %>
					</div>
				</div>				
			</article>
		</section>


		<!--	Carga e Descarga    -->
		<section class="col-md-6">
			<header class="col-md-12">
				<h3>Área de Carga e Descarga?</h3>
			</header>
			<article class="col-md-12">

				<div class="col-md-2">
					<form class="form-inline">
						<div class="btn-group-vertical" data-toggle="buttons">
							    <label class="btn btn-primary btn-lg btn-block btn-color">
							       	<input type="radio" name="tipo" autocomplete="off">Sim
							    </label>

							    <br>

							    <label class="btn btn-primary btn-lg btn-block btn-color">
							       	<input type="radio" name="tipo" autocomplete="off">Não
							    </label>
						</div>					
					</form>
				</div>

				<div class="col-md-5">
					<div class="form-group">
					  	<textarea class="form-control" rows="7" cols="100" id="comment" placeholder="Maiores detalhes sobre como acontece a carga e descarga"></textarea>
					</div>
				</div>

				<!--	Foto Carga e Descarga    -->
				<div class="col-md-5">
					<div class="form-group">
					  	<textarea class="form-control" rows="7" cols="100" id="comment" placeholder="FOTO"></textarea>
					</div>
				</div>
			</article>
		</section>

	</div>
	<!--	FIM 	Estacionamento e Carga e Descarga    -->



	<hr>



	<!--	Detalhes do Imóvel    -->
	<div class="col-md-12">
		<section class="col-md-12">
			<header class="col-md-12">
				<h3>Detalhes do Imóvel:</h3>
			</header>
			<article class="col-md-12">
				<form class="form-horizontal col-md-6">
				  	<div class="form-group">
				    	<label class="control-label col-md-4" for="">Quantos Ambientes?</label>
				    	<div class="col-md-4">
				    		<%= f.number_field :qtd_ambientes, class: "form-control" %>
				    	</div>
				  	</div>

				  	<div class="form-group">
				    	<label class="control-label col-md-4" for="">Banheiros:</label>
				    	<div class="col-md-4">
				      		<%= f.number_field :qtd_banheiros, class: "form-control" %>
				    	</div>
				  	</div>

				  	<div class="form-group">
				    	<label class="control-label col-md-4" for="">Área Útil (m²):</label>
				    	<div class="col-md-4">
				      		<%= f.number_field :area_util, class: "form-control" %>
				    	</div>
				  	</div>

				  	<div class="form-group">
				    	<label class="control-label col-md-4" for="">Área Total (m²):</label>
				    	<div class="col-md-4">
				      		<%= f.number_field :area_total, class: "form-control" %>
				    	</div>
				  	</div>
				</form>
			</article>
		</section>
	</div>
	<!--	FIM 	Detalhes do Imóvel    -->



	<hr>



	<!--	Valores e Propaganda    -->
	<div class="col-md-12">
		<!--	Valores    -->
		<section class="col-md-6">
			<header class="col-md-12">
				<h3>Quais os valores?</h3>
			</header>
			<article class="col-md-12">
				<form class="form-horizontal col-md-12">
				  	<div class="form-group">
				    	<label class="control-label col-md-6" for="">Aluguel:</label>
				    	<div class="col-md-6">
				    		<%= f.text_field :preco_aluguel, class: "form-control" %>
				    	</div>
				  	</div>

				  	<div class="form-group">
				    	<label class="control-label col-md-6" for="">Condomínio:</label>
				    	<div class="col-md-6">
				      		<%= f.text_field :preco_condominio, class: "form-control" %>
				    	</div>
				  	</div>

				  	<div class="form-group">
				    	<label class="control-label col-md-6" for="">IPTU:</label>
				    	<div class="col-md-6">
				      		<%= f.text_field :preco_iptu, class: "form-control" %>
				    	</div>
				  	</div>

				  	<div class="form-group">
				    	<label class="control-label col-md-6" for="">Valor do Ponto:</label>
				    	<div class="col-md-6">
				      		<%= f.text_field :preco_ponto, class: "form-control" %>
				    	</div>
				  	</div>


				  	<div class="form-group">
				    	<label class="control-label col-md-6" for="">Preço Negociável?</label>
				    	<div class="col-md-6">
				      		<div class="form-group btn-group" data-toggle="buttons">
							    <label class="btn btn-primary btn-lg btn-color">
							    	<%= f.radio_button :preco_negociavel, 'sim' %>Sim
							    </label>

							    <label class="btn btn-primary btn-lg btn-color">
							       	<%= f.radio_button :preco_negociavel, 'nao' %>Não
							    </label>
							</div>
				    	</div>
				  	</div>

					

				  	<!-- <div class="form-group">
				  		<label class="control-label col-md-4" for=""></label>
				    	<div class="col-md-4">
				      		<textarea class="form-control" rows="7" id="comment" placeholder="Aqui você pode informar maiores detalhes sobre quais condições você está disposto a negociar no valor do ponto."></textarea>
				    	</div>					  	
					</div> -->

				</form>
			</article>
		</section>

		<!--	Propaganda    -->
		<section class="col-md-6 propaganda">
			<header class="col-md-12">
				<h3>Precisa de ajuda para definir os valores?</h3>
			</header>
			<article class="col-md-12">
				<section class="col-md-12">
					<header class="col-md-12">
						<p>Podemos lhe informar os valores médios negociados na região onde seu imóvel está localizado. Nosso <b>Relatório de Mercado</b> tem as seguintes informações:</p>
					</header>
					<article class="col-md-12">
						<ul>
							<li>Valor médio de aluguel</li>
							<li>Valor médio de Venda</li>
							<li>Valor médio de Condomínio</li>
							<li>Valor médio de Ponto Comercial</li>
							<li>Quantos imóveis com as mesmas característicasdo seu estão disponíveis na região</li>
							<li>Valores detalhados dos 10 imóveis mais parecidos com o seu.</li>
						</ul>
					</article>

					<section class="col-md-12 direita">
						<header>
							<h3>Adquira por R$ 65,00 </h3>
						</header>
						<article>
							<p>Adquirindo o relatório de mercado seu anuncio ficará em destaque por 1 mês grátis.</p>
						</article>
					</section>
				</section>
			</article>
		</section>
	</div>
	<!--	FIM 	Valores e Propaganda    -->




</body>
</html>