<%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "utils" %>
<!DOCTYPE html>
<html>
<head>
  <title>Que Ponto!</title>
  <style type="text/css">

    .container_fullsize{
      background-image: url(/assets/background_novo_atualizado.png);
      height: 100vh;
    }

    .como_funciona_inicio{
      background-image: url(/assets/como_funciona.png);
      height: 70vh;
      background-repeat: no-repeat;
      background-position-x: 48%;
      background-size: 75%;
    }

    .como_funciona_meio{
      background-image: url(/assets/quepontomeio.jpg);
      height: 100vh;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .como_funciona_fim{
      background-image: url(/assets/como_funciona3.png);
      height: 100vh;
        background-repeat: no-repeat;
    }

    .input-group-btn:hover{
      color: #ccc !important;
      background-color: rgba(255,255,255,.15) !important;
    }

    a:hover{
      color: #ccc !important;
      background-color: initial;
    }

    .container:hover{
      opacity: 0.9;
    }

    #navegacao{
      margin-bottom: -15vh;
    }
    .container-fluid{
      /*background: rgba(250, 250, 250, 0.4) !important;*/
      height: 10vh;

    }
    .container-fluid > *{

    }
  </style>

  <style type="text/css">
    .heart {
      background: url(<%= image_url("web_heart_animation.png") %>);
      background-position: left;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      cursor: pointer;
      position: absolute;
      background-size:1450px;
      z-index: 100;
    }
    .new_like{
      /* height: 50px; */
      cursor: pointer;
      position: relative;
      background-size: 1450px;
      z-index: 100;
      float: right;
      margin-right: 40px;
      margin-top: 3px;


    }

    .new_like input:focus{
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0;
    }


    .heart:hover
    {
      background-position: right;
    }



    @-webkit-keyframes heartBlast
    {
      0% {background-position: left;}
      100% {background-position: right;}
    }

    @keyframes heartBlast
    {
      0% {background-position: left;}
      100% {background-position: right;}
    }

    .navbar-header{
      background-image: url(/assets/LOGO_BRANCAL.png);
      width: 200px;
      background-size: 200px;
      background-repeat: no-repeat;
      background-position: 0px 6px;
    }

    .heartAnimation
    {
      -webkit-animation-name: heartBlast;
      animation-name: heartBlast;
      -webkit-animation-duration: .8s;
      animation-duration: .8s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-timing-function: steps(28);
      animation-timing-function: steps(28);
      background-position: right;
    }
  </style>
  <script type="text/javascript">

    $(document).ready(function(){
        $('.tipo').click(function(){
            $('#tipo_box').text($(this).text());
        });
        $('.valor').click(function(){
            $('#valor_box').text($(this).text());
        });
        $('.local').click(function(){
            $('#local_box').text($(this).text());
        });
        $('.inte').click(function(){
            $('#inte_box').text($(this).text());
        });

    });
    function GoToPesquisa(){
        location.href = "/pesquisa";
    }
  </script>
  <script type="text/javascript">
    var utils = new Utils();
    utils.like();
  </script>

  <script type="text/javascript">
    $(document).ready(function(e){
        $(".img-check").click(function(){
          $(this).toggleClass("check");
        });
    });
  </script>
  <style type="text/css">
    .check
    {
        opacity:0.5;
        color:#996;

    }

    .img-thumbnail {
        display: inline-block;
        max-width: 100%;
        height: 100%;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin: 0;
        padding: 0;
    }
  </style>

  <script type="text/javascript">
    function enableButton(){
      document.getElementById('search-btn').disabled = false;

    }
  </script>
</head>
<body>

  <nav class="navbar navbar-default navbar-menu" id="navegacao" style="background:transparent; z-index: 40;
  border-bottom:none">
    <div class="container-fluid" style="margin-top:8px;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed btn-color"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color: #FFF; width:100%;"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" style="margin-top: 8px; margin-left: 120px;">
          <% if @logged_in %>
            <li><%= link_to 'Agenda', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Favoritos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Meus Anuncios', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Anunciar' , new_anuncio_path, :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Alertas', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Mensagens', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
            <li><%= link_to 'Planos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-bottom: 8px;">
          <img src="/assets/Engine_icon.png" style=" width: 40px; float: right; margin-top: 16px; margin-right: 20px;">
          <li class="dropdown menu-dropdown" style="margin-bottom: 8px;     border-left: none;">
            <a href="#" class="dropdown-toggle menu-text"
              data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false" style="color: #fbfbfb; font-size: 16px; padding-top: 24px;">
                  <% if ! @logged_in %>
                    Entrar
                  <% else %>
                    <%=current_usuario.nome%>
                  <% end %>
                </span></a>
            <ul class="dropdown-menu">


              <% if ! @logged_in %>
                <li><%= link_to "Entrar", usuario_session_path %></li>
                <li><%= link_to "Cadastrar", new_usuario_registration_path%></li>

              <% else %>
                <li><%= link_to 'Perfil', usuario_path(current_usuario.id)%></li>
                <li><%= link_to 'Editar Perfil', edit_usuario_path(current_usuario.id) %></li>
                <li><%= link_to 'Sair', destroy_usuario_session_path, :method => :delete  %></li>
              <% end %>
              <li role="separator" class="divider"></li>

              <li><%= link_to "Ajuda", usuario_session_path %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<%= form_tag busca_url,  :method => 'get' do %>
  <div class="container_fullsize">
      <div class="container">
        <div style="margin-top: 200px">
        <span class="menu-text" style="font-size: 40px;">Encontre o ponto ideal e faça um bom negócio!</span>
        <div id="custom-search-input">

              <div class="col-md-12">

                <div class="col-md-4" >
                  <label>
                    Ponto Comercial
                  </label>
                  <%= radio_button_tag :tipo_imovel, value = "Ponto Comercial", checked = false, onclick: "enableButton()" %>                
                </div>
                <div class="col-md-4" >
                  <label>
                    Sala Comercial
                  </label>
                  <%= radio_button_tag :tipo_imovel, value = "Sala Comercial", checked = false, onclick: "enableButton()" %>                
                </div>
                <div class="col-md-4" >
                  <label>
                    Repasse de Empresa
                  </label>
                  <%= radio_button_tag :tipo_imovel, value = "Repasse de Empresa", checked = false, onclick: "enableButton()" %>                
                </div>

                
                
              </div>

              <div>
                  <%= text_field_tag :search, params[:search], :class => 'form-control input-lg search_input', :placeholder => "Bairro, Endereço ou código do anuncio" %>
                  <span class="input-group-btn">
                      <%= submit_tag "Buscar", :id => 'search-btn', :name => nil, :class => 'btn btn-info btn-lg btn-color', :disabled => true %>
                  </span>

              </div>
            </div>
        </div>
      </div>
<% end %>
</div>

<!-- <div class="container" style="margin-top: 110px;     margin-top: 138px;">
    <div style="  text-align: left;
      margin-left: 21px;">
      <img src="assets/apple.png" width="30px" height="30px">
      <img src="assets/android.png" width="30px" height="30px">
    </div>

    <div style="  text-align: right;
      margin-right: 21px;     margin-top: -29px;">
      <img src="assets/youtube.png" width="25px" height="25px">
      <img src="assets/facebook.png" width="25px" height="25px">
      <img src="assets/twitter.png" width="25px" height="25px">
      <img src="assets/instagram.png" width="25px" height="25px">
    </div>

</div> -->


     <!-- Search Box ENDS -->
  </div>

  <div class="container_filters row" style="margin-top:35px; margin-bottom:21px;">
    <span class="menu-text" style="font-size: 25px; color:#868686">
      <b>Anuncios Recentes</b> </span>

      <div class="row" style="margin-top:15px;">
      <% if ! @anuncios.nil? %>
        <% @anuncios.each do |anuncio| %>
        <% @valores = Preco.find_by(anuncio_id: anuncio.id)%>
          <script type="text/javascript">
            $('body').on("click", '#new_like<%=anuncio.id%>', function(e) {
                e.preventDefault();
                var valuesToSubmit = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'), //sumbits it to the given url of the form
                    data: valuesToSubmit,
                    dataType: "JSON", // you want a difference between normal and ajax-calls, and json is standard
                    success: function(json){
                        $(this).addClass("heartAnimation").attr("rel","unlike");
                        //console.log("success", json);
                    }
                })
                return false; // prevents normal behaviour
            });
          </script>

            <%= link_to(anuncio) do %>
            <div class="col-lg-3" style="margin: 1px 30px; padding: 0;
              border:solid 1px #d2d2d2; background-image: url(/assets/SHOP.png);     height: 50vh;
              border-radius: 5px;
              background-position: 50px 19px;
              background-repeat: no-repeat;
              background-size: 150px;
              width: 40vh;">

              <%= form_for(Like.new, :remote => true, :html => { :id => "new_like#{anuncio.id}" }) do |f| %>
                  <%= f.hidden_field :anuncios_id, value: anuncio.id %>

                  <% @anuncios_like.each_with_index do |like, i| %>
                      <% if like.anuncios_id == anuncio.id %>
                          <%= f.submit nil, :value => "", :class => "heart heartAnimation", :rel => "unlike", :style => "z-index: 110; position: absolute; border: none;" %>
                        <% break %>
                      <% elsif  i == @anuncios_like.length - 1 %>
                          <%= f.submit nil, :value => "", :class => "heart", :rel => "like", :style => "z-index: 110; position: absolute; border: none;" %>
                      <% end %>
                  <% end %>
                  <% if @anuncios_like.length == 0 %>
                    <%= f.submit nil, :value => "", :class => "heart", :rel => "like", :style => "z-index: 110; position: absolute; border: none;" %>
                  <% end %>

              <% end %>

              <div class="col-lg-3" style="    text-align: left;
                margin-top: 27vh;
                color: #868686;
                border-top: solid 1px #d2d2d2;
                width: 100%;
                padding: 5px 1px 1px 10px;" >
                <h4 style="color:#868686"><b>R$ <%= (!@valores.nil? ? (anuncio.pretencao == "Vender" ? @valores.preco_venda : (anuncio.pretencao == "Alugar" ? @valores.preco_aluguel : @valores.preco_venda)) : "") %></b></h4>
                    
                    <p><%= (!@valores.nil? ? (!@valores.preco_ponto.nil? ? ("R$ " + @valores.preco_ponto.to_s + " Ponto") : "") : "") %></p>
                  <p><%= anuncio.area_total %>M² | <%= anuncio.qtd_ambientes %> ambientes</p>
                  <p><%= anuncio.logradouro %> <%= anuncio.cidade %>, <%= anuncio.bairro %></p>
                    <p>  <b><%= anuncio.pretencao %></b></p>
              </div>
              <!-- <p><i class="fa fa-link"></i> Leia mais</p> -->
            </div>
          <% end %>


        <% end %>
        <% else %>
          <h1>
            Não há anúncios.
          </h1>
      <% end %>


      </div><!-- row -->

  </div>

  <div class="container_filters row">

    <div class="row como_funciona_inicio"  style="    background-color: #e7e6e6;">

    </div><!-- row -->

    <div class="row como_funciona_meio" >
        <div style="        width: 53%;
        margin-top: 2%;
        margin-left: 12px;">
          <span class="menu-text" style="font-size: 35px; color:#ffffff">
            No <b>Que Ponto</b> você tem todas as informações necessárias para
            uma avaliação completa do imóvel e da região onde ele está localizado.</span>
        </div>

    </div><!-- row -->

      <div class="row como_funciona_fim" style="margin-left:10%;">

      </div>

  </div>

</body>
</html>