<%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'photo_slide', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'all.js'%>
<!DOCTYPE html>
<html>
<head>
  <title>Anúncio</title>

  <script type="text/javascript">
    $( document ).ready(function(){

      var MapaLocalizacao = new Map(document.getElementById("mapa_localizacao"));
      var pos = MapaLocalizacao.GetLatLng("<%= @anuncio.logradouro %>, <%= @anuncio.numero %> - <%= @anuncio.bairro %> - <%= @anuncio.cidade %> – <%= @anuncio.estado %>");
      MapaLocalizacao.V_SetCenter(pos);
      MapaLocalizacao.SetMarker(pos);
      MapaLocalizacao.V_SetStreetView(pos, document.getElementById("streetView_localizacao"));


      var MapaTransito = new Map(document.getElementById("mapa_transito"));
      MapaTransito.V_SetCenter(pos);
      MapaTransito.SetMarker(pos);
      MapaTransito.V_SetTrafficLayer();


      window.MapaArredores = new Map(document.getElementById("mapa_arredores"));
      window.MapaArredores.V_SetCenter(pos);
      window.MapaArredores.V_SetCircle(pos, 500);
      window.MapaArredores.V_GetPlaces(pos, 500);


      var MapaConcorrencia = new Map(document.getElementById("mapa_concorrencia"));
      MapaConcorrencia.V_SetCenter(pos);
      MapaConcorrencia.SetMarker(pos);
      MapaConcorrencia.V_SetCircle(pos, 500);


      var MapaDistancia = new Map(document.getElementById("mapa_distancia"));
      MapaDistancia.V_SetCenter(pos);
      MapaDistancia.SetMarker(pos);
      MapaDistancia.anuncio_id = parseInt(<%= @anuncio.id %>);
      var codes = [];
      <% if !@anuncio.codigos_censitarios.nil? %>
        <% @i = 0 %>
        <% for cod in @anuncio.codigos_censitarios.split(',') %>
          codes[<%=@i%>] = <%= cod.to_s %>;
          <% @i = @i + 1 %>
        <% end %>
      <% end %>      
      //var codes = <%= (@anuncio.codigos_censitarios).to_s %>;
      MapaDistancia.GetCodes(codes);
      //console.log(MapaDistancia.codes); //=> array com todos os códigos sencitários
      
      /*var qtd_total_mulheres = 0;
      var qtd_total_homens = 0;
      var renda_domicilios = 0;
      for (var i = 0; i < MapaDistancia.GetIbgeByCod(MapaDistancia.codes).length; i++) {
        var cod = MapaDistancia.GetIbgeByCod(MapaDistancia.codes)[i];
        console.log(cod);
        qtd_total_homens = qtd_homem + parseInt(cod.qtd_total_homens);
        qtd_total_mulheres = qtd_mulher + parseInt(cod.qtd_total_mulheres);
      }

      document.getElementById("qtd_total_homens").innerHTML = qtd_total_homens;
      document.getElementById("qtd_total_mulheres").innerHTML = qtd_total_mulheres;*/
      
      //console.log(r);




      /*var pos = new google.maps.LatLng(-8.0538900, -34.8811100);


      var MapaLocalizacao = new Mapa;
      var div = document.getElementById("mapa_localizacao");
      MapaLocalizacao.setMapa(div);
      MapaLocalizacao.setCentro(pos);
      MapaLocalizacao.setMarcadores(null, pos);
      var divStreetView = document.getElementById("streetView_localizacao");
      MapaLocalizacao.setStreetView(divStreetView, pos);
      MapaLocalizacao.mapa.addListener("drag", function(){
        MapaLocalizacao.setCentro(pos);
      });


      var MapaTransito = new Mapa;
      var div = document.getElementById("mapa_transito");
      MapaTransito.setMapa(div);
      MapaTransito.setCentro(pos);
      MapaTransito.setTransito();


      var MapaArredores = new Mapa;
      var div = document.getElementById("mapa_arredores");
      MapaArredores.setMapa(div);
      MapaArredores.setCentro(pos);
      MapaArredores.setMarcadores(null, pos);
      google.maps.event.addListenerOnce(MapaArredores.mapa, 'idle', function(){
        MapaArredores.setCirculo(pos);
      });



      var MapaConcorrencia = new Mapa;
      var div = document.getElementById("mapa_concorrencia");
      MapaConcorrencia.setMapa(div);
      MapaConcorrencia.setCentro(pos);
      MapaConcorrencia.setMarcadores(null, pos);
      google.maps.event.addListenerOnce(MapaConcorrencia.mapa, 'idle', function(){
        MapaConcorrencia.setCirculo(pos);
      });


      var MapaDistancia = new Mapa;
      var div = document.getElementById("mapa_distancia");
      MapaDistancia.setMapa(div);
      MapaDistancia.setCentro(pos);
      MapaDistancia.setMarcadores(null, pos);
      google.maps.event.addListenerOnce(MapaDistancia.mapa, 'idle', function(){
        MapaDistancia.setCirculo(pos);
      });*/


    });
  </script>

  <script type="text/javascript">
    window.onload = function(){

      new Morris.Line({
        element: 'valor_medio_aluguel',
        parseTime: false,
        data: [
          { y: 'Jan', a: 100 },
          { y: 'Fev', a: 75 },
          { y: 'Mar', a: 50 },
          { y: 'Abr', a: 75 },
          { y: 'Mai', a: 50 },
          { y: 'Jun', a: 75 },
          { y: 'Jul', a: 100 },
          { y: 'Ago', a: 50 },
          { y: 'Set', a: 75 },
          { y: 'Out', a: 50 },
          { y: 'Nov', a: 75 },
          { y: 'Dez', a: 100 }
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Valor'],
        preUnits: 'R$',
        hoverCallback: function(index, options, content) {
            return(null);
        }
      });

      new Morris.Line({
        element: 'valor_medio_ponto',
        parseTime: false,
        data: [
          { y: 'Jan', a: 100 },
          { y: 'Fev', a: 75 },
          { y: 'Mar', a: 50 },
          { y: 'Abr', a: 75 },
          { y: 'Mai', a: 50 },
          { y: 'Jun', a: 75 },
          { y: 'Jul', a: 100 },
          { y: 'Ago', a: 50 },
          { y: 'Set', a: 75 },
          { y: 'Out', a: 50 },
          { y: 'Nov', a: 75 },
          { y: 'Dez', a: 100 }
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Valor'],
        preUnits: 'R$',
        hoverCallback: function(index, options, content) {
            return(null);
        }
      });

      new Morris.Bar({
        // ID of the element in which to draw the chart.
          element: 'faixa_etaria',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
          data: [
            { idade: '0 a 10', value: <%= @qtd_homens_00_10 + @qtd_mulheres_00_10 %> },
            { idade: '11 a 20', value: <%= @qtd_homens_11_20 + @qtd_mulheres_11_20 %> },
            { idade: '21 a 40', value: <%= @qtd_homens_21_30 + @qtd_mulheres_21_30 + @qtd_homens_31_40 + @qtd_mulheres_31_40 %> },
            { idade: '41 a 60', value: <%= @qtd_homens_41_50 + @qtd_mulheres_41_50 + @qtd_homens_51_60 + @qtd_mulheres_51_60 %> },
            { idade: '> 60', value: <%= @qtd_homens_61 + @qtd_mulheres_61 %> }
          ],
          // The name of the data record attribute that contains x-values.
          xkey: 'idade',
          // A list of names of data record attributes that contain y-values.
          ykeys: ['value'],
          // Labels for the ykeys -- will be displayed when you hover over the
          // chart.
          labels: ['Valor'],

          //postUnits: '%',
        hoverCallback: function(index, options, content) {
            return(null);
        }
      });
      new Morris.Bar({
        // ID of the element in which to draw the chart.
          element: 'civil',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
          data: [
            { estado: 'Casado', value: 10 },
            { estado: 'Solteiro', value: 10 },
            { estado: 'Separado', value: 10 },
            { estado: 'Viúvo', value: 10 }
          ],
          // The name of the data record attribute that contains x-values.
          xkey: 'estado',
          // A list of names of data record attributes that contain y-values.
          ykeys: ['value'],
          // Labels for the ykeys -- will be displayed when you hover over the
          // chart.
          labels: ['Valor'],

          postUnits: '%',
        hoverCallback: function(index, options, content) {
            return(null);
        }
      });
      new Morris.Bar({
        // ID of the element in which to draw the chart.
          element: 'classe',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
          data: [
            { classe: 'Classe A', value: <%= @renda_homens_A + @renda_mulheres_A %> },
            { classe: 'Classe B', value: <%= @renda_homens_B + @renda_mulheres_B %> },
            { classe: 'Classe C', value: <%= @renda_homens_C + @renda_mulheres_C %> },
            { classe: 'Classe D', value: <%= @renda_homens_D + @renda_mulheres_D %> },
            { classe: 'Classe E', value: <%= @renda_homens_E + @renda_mulheres_E %> }
          ],
          // The name of the data record attribute that contains x-values.
          xkey: 'classe',
          // A list of names of data record attributes that contain y-values.
          ykeys: ['value'],
          // Labels for the ykeys -- will be displayed when you hover over the
          // chart.
          labels: ['Valor'],

          //postUnits: '%',
        hoverCallback: function(index, options, content) {
            return(null);
        }
      });
      new Morris.Bar({
        // ID of the element in which to draw the chart.
          element: 'genero',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
          data: [
            { classe: 'Classe A', a: <%= @renda_homens_A %>, b: <%= @renda_mulheres_A  %> },
            { classe: 'Classe B', a: <%= @renda_homens_B %>, b: <%= @renda_mulheres_B  %> },
            { classe: 'Classe C', a: <%= @renda_homens_C %>, b: <%= @renda_mulheres_C  %> },
            { classe: 'Classe D', a: <%= @renda_homens_D %>, b: <%= @renda_mulheres_D  %> },
            { classe: 'Classe E', a: <%= @renda_homens_E %>, b: <%= @renda_mulheres_E  %> }
          ],
          xkey: 'classe',
          ykeys: ['a', 'b'],
          labels: ['Homem', 'Mulher'],

          //postUnits: 'Mil',
        hoverCallback: function(index, options, content) {
            return(null);
        }
      });


      new Morris.Donut({
        element: 'grafico_precos',
        data: [
          {label: "Aluguel", value: <%= (@valores.empty? ? "null" : @valores[0].preco_aluguel )  %>},
          {label: "Condomínio", value: <%= (@valores.empty? ? "null" : @valores[0].preco_condominio) %>},
          {label: "IPTU", value: <%= (@valores.empty? ? "null" : @valores[0].preco_iptu) %>}
        ],
        formatter: function(y, data){return 'R$' + y},
        resize: true
      });

      new Morris.Bar({
        // ID of the element in which to draw the chart.
          element: 'grafico_fluxo_pessoas',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
          data: [
            { hora: '8:00h', a: 50},
            { hora: '12:00h', a: 200},
            { hora: '15:00h', a: 20},
            { hora: '18:00h', a: 90},
            { hora: '20:00h', a: 25}
          ],
          xkey: 'hora',
          ykeys: ['a'],
          labels: ['Pessoas'],
        hoverCallback: function(index, options, content) {
            return(null);
        }
      });


    }

  </script>

  <style type="text/css">
    #mapa_localizacao{
      height: inherit;
    }
    @media screen and (max-width: 990px) {
        #mapa_localizacao{
        display: none;
      }
    }

    #streetView_localizacao{
      height: inherit;
    }

    #mapa_transito{
      height: inherit;
    }

    #mapa_arredores{
      height: inherit;
    }

    #mapa_concorrencia{
      height: inherit;
    }

    .informações_lista{
      text-align: center;
    }
    .informações_lista li p span{
      font-weight: bold;
    }


    .about_attribute{
      font-size: 16px;
      padding-left: 10px;
    }

    h3{
      color: #3e4095;
      font-weight: bold;
    }

    h4{
      color: #AAA;
    }
  </style>



  <style type="text/css">
    .heart {
      background: url(<%= image_url("web_heart_animation.png") %>);
      background-position: left;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      cursor: pointer;
      background-size:1450px;
    }
    .heart:hover
    {
      background-position: right;
    }



    @-webkit-keyframes heartBlast
    {
      0% {background-position: left;}
      100% {background-position: right;}
    }

    @keyframes heartBlast
    {
      0% {background-position: left;}
      100% {background-position: right;}
    }

    .navbar-header{
      background-image: url(/assets/LOGO_AZUL_OFICIAL.png);
      width: 200px;
      background-size: 156px;
      background-repeat: no-repeat;
      background-position: 0px 6px;
    }

    .heartAnimation
    {
      -webkit-animation-name: heartBlast;
      animation-name: heartBlast;
      -webkit-animation-duration: .8s;
      animation-duration: .8s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-timing-function: steps(28);
      animation-timing-function: steps(28);
      background-position: right;
    }
  </style>

  <script type="text/javascript">
        var NewPlace = function(e){
            if (e.checked) {
                // Marcou
                window.MapaArredores.types.push(e.id);
                window.MapaArredores.V_UpdatePlaces();

            }else{
                //Desmarcou
                if (window.MapaArredores.types.length == 1) {
                    e.checked = true;
                }else{
                    var i = window.MapaArredores.types.indexOf(e.id);
                    window.MapaArredores.types.splice(i, 1);
                    window.MapaArredores.V_UpdatePlaces(true)
                }
            }
        }
        /*var utils = new Utils;
        utils.like();*/

        /*document.getElementById("university").onclick = function(){
            var div = document.getElementById("university");
            MapaArredores.clickFiltroTipos(div, "university");
        }*/
  </script>
</head>
<body>

<!--  Menu  -->
<nav class="navbar navbar-default navbar-menu" id="navegacao" style="background:transparent; z-index: 40;
border-bottom:none">
  <div class="container-fluid" style="margin-top:8px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed btn-color"
      data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color: #FFF; width:100%;"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="margin-top: 8px; margin-left: 120px;">
        <% if @logged_in %>
          <li><%= link_to 'Agenda', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
          <li><%= link_to 'Favoritos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
          <li><%= link_to 'Meus Anuncios', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
          <li><%= link_to 'Anunciar' , new_anuncio_path, :class => "menu-text", :style => "color: #fbfbfb"%></li>
          <li><%= link_to 'Alertas', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
          <li><%= link_to 'Mensagens', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
          <li><%= link_to 'Planos', usuario_anuncios_path(current_usuario.id), :class => "menu-text", :style => "color: #fbfbfb"%></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-bottom: 8px;">
        <img src="/assets/Engine_icon.png" style=" width: 40px; float: right; margin-top: 16px; margin-right: 20px;">
        <li class="dropdown menu-dropdown" style="margin-bottom: 8px;     border-left: none;">
          <a href="#" class="dropdown-toggle menu-text"
            data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false" style="color: #fbfbfb; font-size: 16px; padding-top: 24px;">
                <% if ! @logged_in %>
                  Entrar
                <% else %>
                  <%=current_usuario.nome%>
                <% end %>
              </span></a>
          <ul class="dropdown-menu">


            <% if ! @logged_in %>
              <li><%= link_to "Entrar", usuario_session_path %></li>
              <li><%= link_to "Cadastrar", new_usuario_registration_path%></li>

            <% else %>
              <li><%= link_to 'Perfil', usuario_path(current_usuario.id)%></li>
              <li><%= link_to 'Editar Perfil', edit_usuario_path(current_usuario.id) %></li>
              <li><%= link_to 'Sair', destroy_usuario_session_path, :method => :delete  %></li>
            <% end %>
            <li role="separator" class="divider"></li>

            <li><%= link_to "Ajuda", usuario_session_path %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--  Resumo de informações -->
<div class="col-md-12 resumo">

  <section class="col-md-3 resumo-box resumo-box-different">
    <header style="margin-top: 8px;">
      <p style="font-size: 16px; color: #777"><b>Sala Comercial</b> - cod. 025.424</p>

    </header>
    <article>
      <small><span style="color: #777;">Brasil > <%= @anuncio.estado %> > <%= @anuncio.cidade %> ></span> <span style="color: #3e4095;"><%= @anuncio.bairro %></span></small>
    </article>
  </section>

  <!--  Área total e qtd de banheiros   -->
  <section class="col-md-2 resumo-box">
    <header style="margin-top: 5px;">
      <small><b>Tamanho:</b> <%= @anuncio.area_total %> M²</small>
    </header>
    <article>
      <small><b>Banheiros:</b> <%= @anuncio.qtd_banheiros %></small>
    </article>
  </section>

  <!--  Valor do ponto e Flexibilidade-->
  <section class="col-md-2 resumo-box">
    <header style="margin-top: 5px;">
      <small><b>Valor do ponto: R$<%= (!@valores.empty? ? @valores[0].preco_ponto : "") %></b></small>
    </header>
    <article>
      <small><b>Flexibilidade:</b>
        <% if !@valores.empty? && @valores[0].preco_negociavel %>
          <%= "Negociável" %>
        <%else%>
          <%= "Sem negociação" %>
        <% end %>
      </small>
    </article>
  </section>

  <section class="col-md-2 resumo-box">
    <header style="margin-top: 5px;">
      <small><b>Condomínio:</b> R$<%= (!@valores.empty? ? @valores[0].preco_condominio : "") %></small>
    </header>
    <article>
      <small><b>IPTU (ano):</b> R$<%= (!@valores.empty? ? @valores[0].preco_iptu : "") %></small>
    </article>
  </section>

  <section class="col-md-2 resumo-box">
    <header style="margin-top: 7px;">
      <p><b style="font-size: 16px; color: #3e4095;">Aluguel: R$<%= (!@valores.empty? ? @valores[0].preco_aluguel : "") %></b></p>
    </header>
    <article>
      <small><b>Valor total mensal:</b> R$<%=  (!@valores.empty? ? (Float(@valores[0].preco_condominio).round(2) + Float(@valores[0].preco_aluguel).round(2) + (Float(@valores[0].preco_iptu) / 12).round(2)) : "")%></small>

    </article>
  </section>

  <!--  Favoritar   -->
  <section class="col-md-1 resumo-box">
  <script type="text/javascript">
            $('body').on("click", '#new_like<%=@anuncio.id%>', function(e) {
                e.preventDefault();
                var valuesToSubmit = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'), //sumbits it to the given url of the form
                    data: valuesToSubmit,
                    dataType: "JSON", // you want a difference between normal and ajax-calls, and json is standard
                    success: function(json){
                        $(this).addClass("heartAnimation").attr("rel","unlike");
                        //console.log("success", json);
                    }
                })
                return false; // prevents normal behaviour
            });
  </script>
  <% if ! @like.nil? %>
    <%= form_for(Like.new, :remote => true, :html => { :id => "new_like#{@anuncio.id}" }) do |f| %>
      <%= f.hidden_field :anuncios_id, value: @anuncio.id %>
      <%= f.submit nil, :value => "", :class => "heart heartAnimation", :rel => "unlike", :style => "z-index: 110; position: absolute; border: none;" %>
    <% end %>
  <% else %>
    <%= form_for(Like.new, :remote => true, :html => { :id => "new_like#{@anuncio.id}" }) do |f| %>
      <%= f.hidden_field :anuncios_id, value: @anuncio.id %>
      <%= f.submit nil, :value => "", :class => "heart", :rel => "like", :style => "z-index: 110; position: absolute;" %>
    <% end %>

  <% end %>
  </section>

</div>
<!--  FIM Resumo de informações -->



<!--  Fotos e Contato  -->
<div class="col-md-12" style="margin-top: 21px;">
  <!--  Fotos do Anúncio  -->
  <div class="col-md-8 fotos">
    <section>
      <header class="col-md-12">
        <h3>Fotos do Imóvel</h3>
      </header>
      <article class="col-md-12 fotos">
        <section class="section-white col-md-10">
          <div class="container-slide">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>-->

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <% @anuncio.fotos.each_with_index do |foto, i| %>
                  <div class="item <% if i == 0 %>active<% end %>">
                    <img src="<%= foto.url %>" alt="...">
                    <!-- <div class="carousel-caption">
                      <h2>Heading</h2>
                    </div> -->
                  </div>
                <% end %>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>

          </div>
        </section>
      </article>
    </section>
  </div>

  <!--  Contato   -->
  <div class="col-md-4" style="margin: 0; padding:0; margin-top: 10px;     border-left: solid 1px #d2d2d2;">
    <!--  Row 1   -->
    <div class="col-md-12" style="margin-bottom: 13px;">
      <div class="col-md-6">
        <center>
          <img src="https://myspace.com/common/images/user.png" height="100" width="100px">
        </center>
      </div>
      <div class="col-md-6" style="border-left: solid 1px #d2d2d2;">
        <center>
          <img src="http://folhadecianorte.com/wp-content/uploads/2014/06/acessibilidade.jpg" height="100vh" width="100px" style="-webkit-border-radius: 90px;">
        </center>
      </div>
    </div>

    <!--  FIM Row 1-->

    <!--  Row 2   -->
    <div class="col-md-12" >
      <!--  Corretor associado  -->
      <div class="col-md-12" style="border-top:  solid 1px #bfbfbf;">
        <div class="col-md-4" style="margin-top: 10px; margin-bottom: 13px;">
          <img src="https://myspace.com/common/images/user.png" class="img-responsive" alt="" style="-webkit-border-radius: 90px;">
        </div>
        <div class="col-md-8" style="margin-top: 10px; margin-bottom: 13px;">
          <p><b>Nome Fantasia Para Teste</b></p>
          <p>(81) 9 9999-8888</p>
          <p>Imobiliária YXZ</p>
        </div>
      </div>

      <!--  Corretor associado  -->
      <div class="col-md-12" style="border-top:  solid 1px #d8d8d8; border-bottom:  solid 1px #d8d8d8;;">
        <div class="col-md-4" style="margin-top: 10px; margin-bottom: 13px;">
          <img src="https://myspace.com/common/images/user.png" class="img-responsive" alt="" style="-webkit-border-radius: 90px;">
        </div>
        <div class="col-md-8" style="margin-top: 10px; margin-bottom: 13px;">
          <p><b>Nome Fantasia Para Teste</b></p>
          <p>(81) 9 9999-8888</p>
          <p>Imobiliária YXZ</p>
        </div>
      </div>
    </div>
    <!--  FIM   Row 2   -->

    <!--  Row 3 -->
    <div class="col-md-12" style="    margin-top: 13px;
    margin-bottom: 13px;margin-left: 21px;">
        <div class="col-md-3">
          <img src="/assets/chat.png" class="img-responsive" alt="" style="-webkit-border-radius: 90px;">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <img src="/assets/email.png" class="img-responsive" alt="" style="-webkit-border-radius: 90px;">

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <img src="/assets/engine3.png" class="img-responsive" alt="" style="-webkit-border-radius: 90px;">
        </div>
    </div>
    <!--  FIM   Row 3 -->

    <!--  Row 4   -->
    <div class="col-md-12">
      <textarea class="form-control" placeholder="Escreva uma mensagem..."></textarea>
      <input type="submit" name="" class="btn" style="width: 100%;">
    </div>
    <!--  FIM   Row 4   -->
  </div>
</div>
<!--  FIM   Fotos e Contato  -->




<hr style="margin-top: 30px; width:95%">



<!--  Informações Sobre Imóvel  -->
<div class="col-md-12 about">
  <div class="col-md-12">
    <section class="col-md-4">
      <header>
        <h3>Informações sobre o imóvel:</h3>
      </header>
    </section>
  </div>
  <!--  Lado esquerdo, mais Informações    -->
  <div class="col-md-4">
    <ul class="">
      <li class="">
        <h4 style="display: inline-block;">Ambientes: </h4><span class="about_attribute"><%= @anuncio.qtd_ambientes %></span>
        </li>
      <li class="">
        <h4 style="display: inline-block;">Banheiros: </h4><span class="about_attribute"><%= @anuncio.qtd_banheiros %></span>
        </li>
        <li class="">
        <h4 style="display: inline-block;">Área Útil(m²): </h4><span class="about_attribute"><%= @anuncio.area_util %></span>
        </li>
        <li class="">
        <h4 style="display: inline-block;">Área Total(m²): </h4><span class="about_attribute"><%= @anuncio.area_total %></span>
        </li>

    </ul>
  </div>
  <!--  Centro Informações de carros  -->
  <div class="col-md-4">
    <ul class="">
        <li class="">
        <h4 style="display: inline-block;">Estacionamento: </h4><span class="about_attribute">
          <% if @anuncio.estacionamento_rua or @anuncio.estacionamento_privativo %>
            <%= "Sim" %>
          <% else %>
            <%= "Não" %>
          <% end %>
        </span>
        </li>
        <li class="">
        <h4 style="display: inline-block;">Nº de Vagas: </h4> <span class="about_attribute"><%= @anuncio.estacionamento_qtd_vagas %></span>
        </li>
        <li class="">
        <h4 style="display: inline-block;">Exige Pagamento: </h4><span class="about_attribute">
          <% if @anuncio.estacionamento_privativo %>
            <%= "Sim" %>
          <% else %>
            <%= "Não" %>
          <% end %>
          </span>
        </li>

    </ul>
  </div>
  <!--  Descrição -->
  <div class="col-md-4" style="">
    <section style="border: solid 1px #BBB; -webkit-border-radius: 5px; padding: 10px;background-color: #EEE;">
      <header>
        <h4>Breve Descrição do imóvel:</h4>
      </header>
      <article class="description">
        <span >
          <%= @anuncio.descricao %>
        </span>
      </article>
    </section>

  </div>
</div>
<!--  FIM   Informações Sobre Imóvel  -->




<hr style="margin-top: 30px; width:95%">



<!--  Área de Carga e Descarga  -->
<div class="col-md-12">
  <div class="col-md-12">
    <section>
      <header>
        <h3>Área para Carga e Descarga</h3>
      </header>
    </section>
  </div>
  <% if @anuncio.carga_descarga %>
  <%= @anuncio.carga_descarga %>
    <div class="col-md-12">
      <section class="section-white col-md-6">
            <div class="container-slide">

              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <% @anuncio.carga_descarga_fotos.each_with_index do |foto, i| %>
                    <div class="item <% if i == 0 %>active<% end %>">
                      <img src="<%= foto.url %>" alt="...">
                      <div class="carousel-caption">
                        <h2>Heading</h2>
                      </div>
                    </div>
                  <% end %>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>

            </div>
          </section>

      <div class="col-md-6">
        <section style="border: solid 1px #EEE; -webkit-border-radius: 5px; padding: 10px;">
          <header>
            <h4>Breve Descrição Sobre Condições de Acesso para Carga e Descarga:</h4>
          </header>
          <article class="description">
            <span>
              <%= @anuncio.carga_descarga_descricao %>
            </span>
          </article>
        </section>
      </div>
    </div>
  <%else%>
    <div class="col-md-12">
      <h4>Não há área de carga e descarga</h4>
    </div>
  <% end %>
</div>
<!--  FIM   Área de Carga e Descarga  -->




<hr style="margin-top: 30px; width:95%">




<!--  Informações de Valores    -->
<div class="col-md-12 prices">

  <section class="col-md-12">
    <header>
      <h3>Valores</h3>
    </header>
  </section>

  <!--  Grid de preços   -->
  <div class="col-md-12">
    <ul class="col-md-3" style="list-style: none;">
      <li class="">
        <h4 style="display: inline-block;">Aluguel:</h4> <span class="about_attribute">R$<%= (!@valores[0].nil? ? @valores[0].preco_aluguel : "") %></span>
      </li>
      <li class="">
        <h4 style="display: inline-block;">Condomínio:</h4> <span class="about_attribute">R$<%= (!@valores[0].nil? ? @valores[0].preco_condominio : "")%></span>
      </li>
      <li class="">
        <h4 style="display: inline-block;">IPTU:</h4> <span class="about_attribute">R$<%= (!@valores[0].nil? ? @valores[0].preco_iptu : "")%></span>
      </li>
      <li class="">
        <h4 style="display: inline-block;">Ponto:</h4> <span class="about_attribute">R$<%= (!@valores[0].nil? ? @valores[0].preco_ponto : "")%></span>
      </li>
    </ul>

    <div class="col-md-6">
      <!--  Gráfico pizza dos preços  -->
      <div id="grafico_precos" style="height: 30vh;"></div>
    </div>
  </div>

  <!--  GRÁFICOS    -->
  <div class="col-md-12">

    <section class="col-md-5">
      <header class="col-md-12">
        <h4>Valor médio do aluguel na região</h4>
      </header>
      <article class="col-md-12"  id="valor_medio_aluguel" style="height: 200px; ">
        <!--    Gráfico Valor Médio Aluguel     -->
      </article>
    </section>

    <section class="col-md-5">
      <header class="col-md-12">
        <h4>Valor médio do ponto na região</h4>
      </header>

      <article class="col-md-12"  id="valor_medio_ponto" style="height: 200px; ">
        <!--    Gráfico Valor Médio Ponto     -->
      </article>
    </section>
  </div>
</div>
<!--  FIM   Informações de Valores    -->



<hr style="margin-top: 30px; width:95%">



<!--  Homologações    -->
<div class="col-md-12" style="    margin-bottom: 21px;">
  <section class="col-md-12" >
    <header>
      <h3>Homologação do Imóvel</h3>
    </header>
    <article>
      <p>Esse imóvel foi pré-qualificado pelas franquias abaixo. Fechando com eles você terá maior facilidade em fechar contrato com o proprietário do imóvel.</p>
    </article>
  </section>

  <div class="col-md-12">
    <div class="col-md-3 homologado-box">
      <section style="    border: solid 1px #c5c5c5;">
        <header>
          <%= image_tag("subway.png", :alt => "rss feed", :width => 220, :height => 120) %>
        </header>
        <article style="    margin-left: 12px;
    margin-bottom: 10px;">
          <p>
            Homologado para franquias de 40m
          </p>
          <p>
            Investimento estimado: <b>R$120.000,00</b>
          </p>
          <button class="btn btn-primary btn-color">Tenho interesse</button>
        </article>
      </section>
    </div>
    <div class="col-md-3 homologado-box">
      <section style="    border: solid 1px #c5c5c5;">
        <header>
          <%= image_tag("dominos.png", :alt => "rss feed", :width => 220, :height => 120) %>
        </header>
        <article style="    margin-left: 12px;
    margin-bottom: 10px;">
          <p>
            Homologado
          </p>
          <p>
            Investimento estimado: <b>R$80.000,00</b>
          </p>
          <button class="btn btn-primary btn-color">Tenho interesse</button>
        </article>
      </section>
    </div>
    <div class="col-md-3 homologado-box">
        <section style="    border: solid 1px #c5c5c5;">
        <header>
          <%= image_tag("pizzahut.png", :alt => "rss feed", :width => 220, :height => 120) %>
        </header>
        <article style="    margin-left: 12px;
    margin-bottom: 10px;">
          <p>
            Homologado
          </p>
          <p>
            Investimento estimado: <b>R$170.000,00</b>
          </p>
          <button class="btn btn-primary btn-color">Tenho interesse</button>
        </article>
      </section>
    </div>
    <div class="col-md-3 homologado-box">
        <section style="    border: solid 1px #c5c5c5;">
        <header>
          <%= image_tag("sapataria.png", :alt => "rss feed", :width => 220, :height => 120) %>
        </header>
        <article style="    margin-left: 12px;
    margin-bottom: 10px;">
          <p>
            Homologado
          </p>
          <p>
            Investimento estimado: <b>R$75.000,00</b>
          </p>
          <button class="btn btn-primary btn-color">Tenho interesse</button>
        </article>
      </section>
    </div>
  </div>
</div>
<!--  FIM    Homologações    -->




<hr style="margin-top: 30px; width:95%">




<!--  Localização     -->
<div class="col-md-12" style="margin-bottom:21px;">
  <section class="col-md-12">
    <header>
      <h3>Localização</h3>
    </header>
  </section>
  <div class="col-md-12">
    <section class="col-md-12" style="    margin-top: 10px;
    margin-left: -27px;">
      <header class="col-md-1">
        <h4>Endereço: </h4>
      </header>
      <article class="col-md-10">
        <p>
          <%= @anuncio.logradouro %>, <%= @anuncio.numero %> - <%= @anuncio.bairro %> - <%= @anuncio.cidade %> – <%= @anuncio.estado %>
        </p>
        <p>
          CEP: <%= @anuncio.cep %>
        </p>
      </article>

    </section>
  </div>
  <!-- MAPA com Street View-->
  <div class="col-md-12" style="height: 80vh;">
    <!--  MAPA    -->
    <div id="mapa_localizacao" class="col-md-6">

    </div>
    <!--  StreetView    -->
    <div id="streetView_localizacao" class="col-md-6">

    </div>
  </div>


</div>
<!--  FIM   Localização   -->




<hr style="margin-top: 30px; width:95%">




<!--  Informação população  GRÁFICOS   -->
<div class="col-md-12"  style="margin-bottom:21px;">
  <section class="col-md-12">
    <header class="col-md-12">
      <h3>Informações sobre a população residente</h3>
    </header>
    <article class="col-md-12">
      <p>População a um raio de 5km do local</p>
    </article>
  </section>

  <!--  Informações    -->
  <div class="col-md-12" style="    margin-bottom: 21px;">
    <!--  Linha superior    -->
    <div class="col-md-12">
      <section class="col-md-3">
        <header class="col-md-12">
          <h4>População</h4>
        </header>
        <article class="col-md-12">
          <ul class="list-group informações_lista">
            <li class="list-group-item">
              <p>Habitantes: <span id="total_pessoas"><%= @qtd_total_homens + @qtd_total_mulheres %></span></p>
            </li>
            <li class="list-group-item">
              <p>Domicílios: <span id="total_domicilios"><%= @qtd_domicilios %></span></p>
            </li>
            <li class="list-group-item">
              <p>Famílias: <span id="qtd_total_familias"><%= @qtd_familias %></span></p>
            </li>
          </ul>
        </article>
      </section>

      <section class="col-md-3">
        <header class="col-md-12">
          <h4>Gênero</h4>
        </header>
        <article class="col-md-12">
          <ul class="list-group informações_lista">
            <li class="list-group-item">
              <p>Homem: <span id="qtd_total_homens"><small id="percento_homem"><%= @qtd_total_homens %></small></span></p>
            </li>
            <li class="list-group-item">
              <p>Mulher: <span id="qtd_total_mulheres"><small id="percento_mulher"><%= @qtd_total_mulheres %></small></span></p>
            </li>
          </ul>
        </article>
      </section>

      <section class="col-md-3">
        <header class="col-md-12">
          <h4>Faixa Etária</h4>
        </header>
        <article class="col-md-12" id="faixa_etaria" style="height: 200px; ">

        </article>
      </section>

      <section class="col-md-3">
        <header class="col-md-12">
          <h4>Estado Civil</h4>
        </header>
        <article class="col-md-12"  id="civil" style="height: 200px; ">

        </article>
      </section>
    </div>

    <!--  Linha Inferior  -->
    <div class="col-md-12">
      <section class="col-md-3">
        <header class="col-md-12">
          <h4>Renda Média por Domicílio</h4>
        </header>
        <article class="col-md-12 informações_lista">
          <ul class="list-group">
            <li class="list-group-item">
              <p><span>R$<%= (@renda_domicilios)/(@qtd_domicilios) %></span></p>
            </li>
            <li class="list-group-item">
              <p>Renda Média do Município (TOTAL)</p>
            </li>
            <li class="list-group-item">
              <p>R$<%= @renda_domicilios %></p>
            </li>
          </ul>
        </article>
      </section>

      <section class="col-md-3">
        <header class="col-md-12">
          <h4>População por Classe</h4>
        </header>
        <article class="col-md-12"  id="classe" style="height: 200px; ">

        </article>
      </section>

      <section class="col-md-3">
        <header class="col-md-12">
          <h4>População por Classe - Gênero</h4>
        </header>
        <article class="col-md-12"  id="genero" style="height: 200px; ">

        </article>
      </section>

      <section class="col-md-3">
        <header class="col-md-12">
          <h3></h3>
        </header>
        <article class="col-md-12">

        </article>
      </section>
    </div>
    </div>


  </div>


  <!--  Mapa distância  -->
  <div class="col-md-12" style="    margin-bottom: 21px;" >
    <div class="col-md-1"></div>
    <div class="col-md-10" id="mapa_distancia" style="height: 90vh;">
    </div>
    <div class="col-md-1"></div>
  </div>
  </div>
<!--  FIM    Informação população     -->



<hr style="margin-top: 30px; width:95%">



<!--  Informações sobre trânsito    -->
<div class="col-md-12" style="    margin-top: 21px;" >
  <section>
    <header>
      <h3>Informações sobre o transito nas vias e fluxo de pedestres</h3>
    </header>
    <article>
      <p>No entorno do imóvel</p>
    </article>
  </section>


  <!--  Mapa com camada de trânsito    -->
  <div class="col-md-12" style="    margin-bottom: 21px;" >
    <!-- MAPA -->
    <div id="mapa_transito" class="col-md-9" style="height: 80vh;">
    </div>
    <!--  Botões    -->
    <div class="col-md-3">
      <div class="tab-pane" id="qualidadeVida" data-control="qualidadeVida">
                <div class="row">
                        <div class="panel panel-default" data-control="pontosDeInteresse">
                          <!--  Cabeçalho -->
                          <div class="panel-heading">
                                <h3 class="panel-title">Trânsito Típico</h3>
                            </div>
                            <div class="panel-body">
                                    <p>Escolha dia e período para observar o comportamento típico do transito no entorno do imóvel</p>
                            </div>

                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Manhã
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="airport"  type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Tarde
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="bank" type="checkbox" checked>
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Noite
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="atm" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Madrugada
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="school" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>

    </div>
  </div>
</div>
<!--  FIM   Informações sobre trânsito    -->




<hr style="margin-top: 30px; width:95%">



<!--  Fluxo de Pedestre  -->
<div class="col-md-12" style="    margin-top: 21px;" >
    <section class="col-md-12">
      <header>
        <h3>Fluxo de Pedestre</h3>
      </header>
    </section>

    <div class="col-md-12">
      <div class="col-md-5">
        <!--  Street View   -->
        <div>
          <%= image_tag("rua.jpg", :alt => "rss feed", :width => 450, :height => 250) %>
        </div>
      </div>
      <div class="col-md-7">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item">
              <p>Fluxo médio diário de pessoas:<span class="fluxo-grid-resposta">300 por dia</span></p>
              </li>
            <li class="list-group-item">
              <p>Horário de pico:<span class="fluxo-grid-resposta">Das 09:00 às 14:00</span></p>
              </li>
              <li class="list-group-item">
              <p>Dia sem fluxo:<span class="fluxo-grid-resposta">Domingo</span></p>
              </li>
          </ul>
        </div>
        <div class="col-md-12" id="grafico_fluxo_pessoas" style="height: 20vh;">
          <!--  Gráfico de fluxo de pessoas   -->
        </div>
      </div>
    </div>
</div>
<!--  FIM   Fluxo de Pedestre   -->




<hr style="margin-top: 30px; width:95%">



<!--  Informações do Local    -->
<div class="col-md-12">
  <section class="col-md-12">
    <header>
      <h3>Informações do Local</h3>
    </header>
    <article>
      <p>Explore a infraestrutura existente no entorno do imóvel</p>
    </article>
  </section>

  <div class="col-md-12">
    <!--  MAPA    -->
    <div class="col-md-8" id="mapa_arredores" style="height: 80vh;">
    </div>

    <!--  Lista de Filtros -->
    <div class="col-md-4">
      <div class="panel panel-default" data-control="pontosDeInteresse">
                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Aeroportos e Helipontos
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="airport" onclick="NewPlace(this)" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <!-- <li class="list-group-item">
                                    <span class="pull-left">
                                        Agências dos Correios
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="post_office" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li> -->
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Bancos
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="bank" onclick="NewPlace(this)" type="checkbox" checked>
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <!--
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Bibliotecas
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="library" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                -->
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Caixas Eletrônicos
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="atm" onclick="NewPlace(this)" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <!-- <li class="list-group-item">
                                    <span class="pull-left">
                                        Cemitérios
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="cemetery" type="checkbox" checked>
                                    </span>

                                    <div class="clearfix"></div>
                                </li> -->
                                <!-- <li class="list-group-item">
                                    <span class="pull-left">
                                        Cinemas
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="movie_theater" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li> -->
                                <!-- <li class="list-group-item">
                                    <span class="pull-left">
                                        Corpo de Bombeiros
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="fire_station" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li> -->
                                <!-- <li class="list-group-item">
                                    <span class="pull-left">
                                        Delegacias de Polícia
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="police" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Embaixadas
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="embassy" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li> -->
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Escolas
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="school" onclick="NewPlace(this)" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <!-- <li class="list-group-item">
                                    <span class="pull-left">
                                        Estádios
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="stadium" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li> -->
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Estações de Metrô
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="subway_station" onclick="NewPlace(this)" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Paradas de Ônibus
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="bus_station" onclick="javascript: NewPlace(this);" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <!-- <li class="list-group-item">
                                    <span class="pull-left">
                                        Estações Ferroviárias
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="train_station" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li> -->
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Hospitais
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="hospital" onclick="javascript: NewPlace(this);" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Igrejas
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="church" onclick="javascript: NewPlace(this);" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <!-- <li class="list-group-item">
                                    <span class="pull-left">
                                        Museus
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="museum" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li> -->
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Parques
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="park" onclick="javascript: NewPlace(this);" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Pontos de Táxi
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="taxi_stand" onclick="javascript: NewPlace(this);" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <!-- <li class="list-group-item">
                                    <span class="pull-left">
                                        Prefeituras
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="city_hall" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li> -->
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Shopping Centers
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="shopping_mall" onclick="javascript: NewPlace(this);" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <!-- <li class="list-group-item">
                                    <span class="pull-left">
                                        Tribunais
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="courthouse" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li> -->
                                <li class="list-group-item">
                                    <span class="pull-left">
                                        Universidades
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="university" onclick="javascript: NewPlace(this);" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li>
                                <!-- <li class="list-group-item">
                                    <span class="pull-left">
                                        Zoológicos
                                    </span>

                                    <span class="pull-right">
                                        <input class="saibaonde-toggle saibaonde-input" id="zoo" type="checkbox">
                                    </span>

                                    <div class="clearfix"></div>
                                </li> -->
                                <li class="list-group-item">
                                    <img src="http://www.saibaonde.com.br//assets/img/pbg/powered_by_google_on_white.png">
                                </li>
                            </ul>
                        </div>
    </div>

  </div>
</div>
<!--  FIM   Informações do Local    -->



<hr style="margin-top: 30px; width:95%">



<!--  Concorrência  -->
<div class="col-md-12" style="margin-bottom: 21px;">
  <section class="col-md-12">
    <header>
      <h3>Concorrência</h3>
    </header>
    <article>
      <p>Visualize onde estão localizados seus concorrentes, próximo a esse imóvel</p>
    </article>
  </section>

  <div class="col-md-12">
    <!--  Mapa com arredores de Concorrência    -->
    <div class="col-md-8" id="mapa_concorrencia" style="height: 80vh;">
    </div>

    <!--  Detalhamento dos lugares  -->
    <div class="col-md-4">
      <section class="col-md-12">
        <header>
          <h4>Tipo de negócio</h4>
        </header>
        <article>
          <p>Escolha 1, 2 ou 3 tipos de negócio que são seus concorrentes diretos ou indiretos:</p>
        </article>
      </section>


      <div class="col-md-12">
        <ul class="list-group list-group-concorrencia">
          <li class="list-group-item col-md-12">
            <div class="col-md-2">
              <%= image_tag("home_background.jpg", :alt => "rss feed", :width => 30, :height => 30) %>
            </div>
            <div class="col-md-8">
              <p>Pizzaria</p>
            </div>
            <div class="col-md-2">
              <p>5</p>
            </div>
          </li>

          <li class="list-group-item col-md-12">
            <div class="col-md-2">
              <%= image_tag("home_background.jpg", :alt => "rss feed", :width => 30, :height => 30) %>
            </div>
            <div class="col-md-8">
              <p>Padaria</p>
            </div>
            <div class="col-md-2">
              <p>3</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
