<!DOCTYPE html>
<html>
  <head>
    <title>Que Ponto</title>
    <%= csrf_meta_tags %>

    <%# javascript_include_tag :jquery, :jquery_ujs %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

     <%-#****   Integração com API do Google  ****-%>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDNspH1OpAwYIWsvMOV4hXbpRFl4Pfw_P0&libraries=geometry,places&language=pt-BR"></script>
    <!--  Include r360.js -->
    <!--  To generate map time X space  -->
    <script src="https://releases.route360.net/r360-js/latest.js"></script>


    <%-#****   TEMA -Todos os imports são necessários-  ****-%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.min.js"></script>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <style type="text/css">
      .navbar-header{
        background-image: none;
        width: 300px;
        background-size: 156px;
        background-repeat: no-repeat;
        background-position: 0px 6px;
      }
    </style>
  </head>

  <body>
  <!--    MENU SECTION    -->
    
  <!--    END MENU SECTION    -->
    <%= yield %>



    <footer id="footer-Section" class="col-md-12">
        <div class="footer-top-layout">
          <div class="container">
            <div class="row">
              <div class="OurBlog">
                <h4>Que Ponto</h4>
                <p>Encontre seu ponto ideal e faça o melhor negócio!</p>
                <div class="post-blog-date">2017</div>
              </div>
              <div class=" col-lg-8 col-lg-offset-2">
                <div class="col-sm-4">
                  <div class="footer-col-item">
                    <h4>Visite-nos</h4>
                    <address>
                    Av. Pauliste, 226, Sl 1205<br>
                    São Paulo - SP, Brasil
                    </address>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="footer-col-item">
                    <h4>Entre em contato</h4>
                    <div class="item-contact"> <a href="tel:630-885-9200"><span class="link-id">P</span>:<span>011 - 9 9999 9999</span>
                    </a> <a href="tel:630-839.2006"><span class="link-id">F</span>:<span>011 - 9 9999 9999</span></a>
                     <a href="mailto:info@brandcatmedia.com"><span class="link-id">E</span>:<span>contato@queponto.com</span></a> </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="footer-col-item">
                    <h4>Newsletter</h4>
                    <form class="signUpNewsletter" action="" method="get">
                      <input name="" class="gt-email form-control" placeholder="You@youremail.com" type="text">
                      <input name="" class="btn-go" value="Go" type="button">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom-layout">
            <div class="copyright-tag">Copyright © 2017 Que Ponto. All Rights Reserved.</div>
        </div>
    </footer>
  </body>
</html>
