<!--    Style Sidebar     -->
<style type="text/css">
  
  /* Profile container */
  .profile {
    margin-top: -20vh;
    padding-top: 30vh;
    z-index: -1;
    position: fixed;
    background-color: #EEE;
    height: 120vh;
  }

  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }

  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }

  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }

  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }

  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }

  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
  }

  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }

  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }

  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }

  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }

  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }

  .profile-usermenu ul li.active {
    border-bottom: none;
  }

  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }

  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
</style>
<!--    END     Style Sidebar     -->




  <!--  Sidebar Menu    -->
  <div class="col-md-2 profile">
        <div class="profile-userpic">
              <img src="https://myspace.com/common/images/user.png" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= current_usuario.nome %>
          </div>
          <div class="profile-usertitle-job">
            TIPO USUÁRIO (criar)
          </div>
        </div>
        <div class="profile-usermenu">
          <ul class="nav" style="margin: 0;">
            <li>
              <%= link_to usuario_anuncios_path(current_usuario.id) do%>
                <i class="glyphicon glyphicon-home"></i>
                Meus Anúncios
              <% end %>
            </li>
            <li>
              <%= link_to edit_usuario_path(current_usuario.id) do %>
                <i class="glyphicon glyphicon-user"></i>
                Editar Perfil
              <% end %>
            </li>
            <li>
              <%= link_to likes_path() do %>
              <i class="glyphicon glyphicon-heart"></i>
              Meus Favoritos
              <% end %>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-flag"></i>
              Ajuda </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
  </div>
  <!--  END   Sidebar Menu    -->